[2019-08-12 04:24] martindusinberre opened #5 "Split Screen bug"
Previously, the bug has occurred on the transition 2.4.1.3.3.3 into 2.4.2.1 transition. Also 2.4.3.1.5.1HPV into 2.4.3.1.5.2. When I played again on Thursday morning, it occurred elsewhere.

[2019-08-12 04:29] martindusinberre opened #6 "Multiple versions of "Plantation Lives" on the topic selection screen"
The third version of the Plantation Lives folder *seems* to be the correct one but this needs to be cleaned up (see Rocketchat discussion between Danny and Nemanja on 26 July also about naming conventions).

[2019-08-12 04:31] martindusinberre opened #7 "imageComponent files with multiple jpg images"
This remains a problem (as of Monday 5th August), although my comment on Rocketchat was on July 22nd: Last week, when I played, I came into 2.4.3.2 from 2.4.3.1.1.5, and instead of showing the correct image at 2.4.3.2, the game gave me an image from 2.4.3.1.1.5 which stayed with me for the rest of my game play to the end of ch4.
Similarly, today, I came into 2.4.3.2 from 2.4.3.1.5.4 (HPV) and for

[2019-08-12 04:32] martindusinberre opened #8 "Zoom function in imageComponent with multiple jpg images"
For images with multiple jpg files: you can scroll through the images fine on the page; you can also zoom the first jpg file. But you can't zoom into any of the later jpg files within the image.

[2019-08-12 04:35] martindusinberre opened #9 "Money calculator mistake"
(again, from July 22:) I was just playing 2.4.3.1.1.5, where I had 301EUR. When I transitioned into 2.4.3.2, the game should have reduced my 301 EUR by 25 EUR (-25.0). But now I'm on 2.4.3.2, my money amount is simply shown as -25 EUR. So the calculator isn't quite working as planned.

[2019-08-12 04:40] martindusinberre opened #10 "textExercise "My Answer" input"
Previously, I asked if the "My Answer" line could be removed from the Notebook, as I would never write such a thing in a research notebook. Christian made the good point that we need some indicator of player-generated input (as distinguished from automatic input). Can we therefore change the line from "My Answer" to "My Input"? (This makes the notebook less like an exercise book, with questions an

[2019-08-12 04:49] martindusinberre opened #11 "visitedAny criteria: please check again"
Lena are not sure the visitedAny criteria is working for pageTransition files. So far as Christian explained it (Rocketchat 11 July), if I have "visitedAny" followed by a, b, or c, the player will *only* see the pageTransition button if they were on a, b or c. But that isn't the way it's working in chapter4 at the moment: in the key page transitions (2.4.2.2, 2.4.3.2, 2.4.4.3), page transition but

[2019-08-12 12:20] christian-bernet commented on #6
unneeded topics are deactivated with:
set-topic-sate false topic/23159995

[2019-08-12 12:21] #6 closed

[2019-08-12 12:38] christian-bernet commented on #8
(-) There is no way to zoom 2nd image
(-) User should be able to slide left/ right when image is zoomed
(-) Check image component not being changed after transition from 2.4.3.1.1.5 to 2.4.3.2

[2019-08-12 12:54] christian-bernet commented on #10
yes of course. Let's change that to "My Input".

[2019-08-13 07:00] christian-bernet opened #12 "Email inbox - on left side show only mailForm and subject, remove mail body part"

[2019-08-13 08:32] martindusinberre opened #13 "Notebook inputs and notebook page titles not matching"
I don't know whether I have inputted the json files wrongly for some of the notebook entries. Can you tell me how the email I am required to send on 2.2.8 (in order to pageTransition into 2.2.9) is saved to the notebook? I thought I had set it up so that the email content would be saved to notebook under the entry "Notes on Hall (email to Moira)" (see 2.2.8/notebookEntry1). Instead, the imageCompo

[2019-08-13 09:13] martindusinberre commented on #13
A quick update on this: On 2.4.2.1, the email that I'm required to send to Brian (mail3) in order to transition to 2.4.2.2 is saved into Notebook without a new entry. I guess this means I need to add a notebookEntry json file in order for it to be saved as a new entry. But can you please look at why the email that I previously sent about Stuart Hall (2.2.8 into 2.2.9) is one again appearing in the

[2019-08-13 09:20] martindusinberre commented on #11
An update on this: I have come into 2.4.2.2 from having visited HSA, ie having landed on 2.4.1.3.1.1HSA. I therefore should *not* be offered the option of going to the HSA.
For 2.4.2.2/pageTransition4 (buttonText: Hawai'i State Archives), I therefore set the criteria as: "visitedAny"
and 2.4.1.3.3.1Ham (ie, the HSA button text should be visible if the player visited 2.4.1.3.3.1Ham--the Hamilton Li

[2019-08-13 10:49] martindusinberre opened #14 "Page transitions in HMCS storylines not working"
On 2.4.3.1.2.2 (and presumably also 2.4.4.1.2.2 and 2.4.5.1.2.2), I am unable to transition to the next page (2.4.3.1.2.3 etc). This seems to be a problem with the button text not appearing even though I have entered the correct numbers in the dateExercises. Can you check what the problem is?

[2019-08-13 11:08] martindusinberre commented on #5
Just now, the split screen problem occurred in the transition from 2.4.1.3.3.3 into 2.4.2.1.

[2019-08-13 11:42] martindusinberre commented on #5
And again, the split screen problem occurs in the transition from 2.4.3.1.5.4 into 2.4.3.2.

[2019-08-13 11:48] martindusinberre commented on #11
Another update: I have come into 2.4.3.2 from (i) Hamilton and (ii) HPV. I should therefore *not* be offered either of these as options. And I also should *not* be offered HMCS, as I haven't yet been to HSA. I'm therefore not sure why I have been offered these three buttons.

[2019-08-13 11:55] martindusinberre commented on #5
And again, it's occurred in the transition from 2.4.4.1.4.2 into 2.4.4.2Ed.

[2019-08-13 12:11] christian-bernet commented on #5
Thanks for you comments. I will try to reproduce it. And come back to you.....

[2019-08-13 12:14] martindusinberre commented on #5
And again, from 2.4.4.2Ed into 2.4.4.3. My impression is that it's only occurring when mails are received. (But not *all* mails, just some.)

[2019-08-13 12:28] martindusinberre opened #15 "Page transition not working 2.4.5.1.7xx"
The page transition from 2.4.5.1.7.1 to 2.4.5.1.7.2 is slow. Then the page transition from 2.4.5.1.7.2 to 2.4.5.1.7.3. doesn't work at all--it just crashed out and took me to the log-in page again. When I logged in again, however, and went to "Continue" my game, I got back to 2.4.5.1.7.3 just fine.

[2019-08-13 12:39] martindusinberre opened #16 "Error message in TestTopic when I open Atom"
<img width="1381" alt="Screen Shot 2019-08-13 at 14 36 51" src="https://user-images.githubusercontent.com/53183999/62942244-2e5dde00-bdd8-11e9-9776-330b7a726b09.png">
Can anyone explain this?!

[2019-08-13 13:54] christian-bernet commented on #8
test it with Demo-Topic chapter 2 page 2

[2019-08-13 13:57] christian-bernet commented on #10
done

[2019-08-13 13:58] christian-bernet commented on #12
done

[2019-08-13 14:42] christian-bernet commented on #13
yes. You have to add a new notebook-Entry if you want to have the e-mail shown in a speperate entry.

On page 2.2.9 an email is sent, but not shown in the notebook...
If you want to show the email at page 2.2.9 you have to add   "showInNotebook": true, in the mail1.json on page 2.2.9.

If you find the same mail twice in the notebook, please write me the page on which the mail is generated, so that

[2019-08-13 17:57] martindusinberre commented on #13
Sorry, there are several issues here:
i) In order to leave 2.2.8, I have to reply to the email on 2.1.6/mail1. This json file is already inputted as "showInNotebook": true. [The mail on 2.2.9 isn't the problem here]
ii) But when I press "send" to my reply to 2.1.6/mail1, the content of my reply is not saved where I want it in the notebook, ie in 2.2.8/notebookEntry1 with the title "Notes on Hall (

[2019-08-13 18:02] #10 closed

[2019-08-13 18:07] martindusinberre commented on #8
OK, I'll look as soon as the importer is working...

[2019-08-13 19:17] #16 closed

[2019-08-14 07:31] martindusinberre commented on #12
This is now closed (at least until I can see the new version) but we are having problems closing it...

[2019-08-14 08:09] christian-bernet commented on #12
ok. I can close it. I have written to Pim, so that he can change the rights.

[2019-08-14 08:13] #12 closed

[2019-08-14 08:34] interrogator commented on #12
Can we comment the commit / PR before closing? Sorry, it's just I'd like to learn more about the codebase, and so it's really useful if I can see where changes need to be made for various parts...

[2019-08-14 09:17] christian-bernet commented on #12
what do you mean with comment the commit?
The comment of the commit is for that change: "Remove body from mail list items"

[2019-08-14 09:20] interrogator commented on #12
I mean, like if closing an issue, the code should now be in a branch, or in master. The commit that added the code should have a hash, which can be linked here so we can quickly see which commit solved the issue.

For example, I just paste the last commit on master here: 3d5559d, and github links it all automatically. This way, it's easy to get from an issue to its actual fix in the code.

[2019-08-14 09:22] interrogator commented on #12
Definitely it's helpful that the commit message references the issue, but doing this as well makes it much more structured, and only takes a second.

[2019-08-14 09:27] christian-bernet commented on #12
for frontend changes this won't work. it is commit ae0aae6 on dev branch in frontend....
But for backend changes we can do that.

[2019-08-14 09:35] christian-bernet commented on #8
ok. tested on Demo-Topic and  from 2.4.3.1.1.5 to 2.4.3.2.
1392745 on frontend master

[2019-08-14 09:48] christian-bernet commented on #15
I think this was a temporary problem. slow and then the crashing. At least on my machine it is working.
but lets check that again, if the import is working again

[2019-08-14 09:50] christian-bernet commented on #5
also from starting with 2.4.5.1.7.1 i had this problem.

[2019-08-14 09:52] christian-bernet commented on #11
I tried it with page 2.4.2.2

[2019-08-14 10:26] martindusinberre commented on #15
OK, great, I'll check it later. Thanks, Martin

[2019-08-14 10:59] christian-bernet commented on #7
works on my local machine. Recheck it at the testsystem.

[2019-08-14 11:30] christian-bernet commented on #14
Bug is with multiple dateFields on one page.
- Input is not submitted only if field is changed
- Input is only on the last element submitted

[2019-08-14 11:31] christian-bernet commented on #14
please check it at page333 of demoTopic

[2019-08-14 11:40] christian-bernet commented on #11
This is a bug. I have to fix it... :-)

[2019-08-14 11:54] martindusinberre commented on #14
This isn't working in page333 if the button "return to the library" is meant to appear when I've correctly inputted the dates: at the moment, the pageTransition button doesn't appear.

[2019-08-14 12:14] martindusinberre commented on #8
I've tested it on 2.4.1.3.1.4 and it's looking great.

[2019-08-14 12:14] #8 closed

[2019-08-14 13:06] martindusinberre commented on #5
Just occurred while I was playing 2.4.3.1.2.2. This is the first time it's occurred while I've been on an actual page as opposed to on the notebook/inbox 'layer' page.

[2019-08-14 13:14] martindusinberre commented on #7
This is still a problem. I'm on 2.4.1.3.1.5 but the imageComponent is still the multiple jpg files from 2.4.1.3.1.4.
Even when I transition to 2.4.2.1, the image from 2.4.1.3.1.4 is still showing

[2019-08-14 13:38] martindusinberre opened #17 "Notebook display: when images with multiple pages save to Notebook, they display only first page"
This is a problem, for example, with the image that is saved from 2.4.1.3.1.5 to notebook.

[2019-08-14 13:59] christian-bernet commented on #15
That is ok. Temporary problem (because of importer running or whatever).

[2019-08-14 14:08] christian-bernet commented on #11
OK. I have found the bug.
The content was not right.
You have to use the attribute affectedPagesIds and not affectedPage for multiple pages for the visitedAny criteria.

I also have overseen that first.....
For page 2.4.2.2 it is changed now and it works.
Change pushed now to content.

[2019-08-14 14:25] christian-bernet commented on #9
I tried it now on the test-system and it worked correctly.

[2019-08-14 14:34] interrogator commented on #11
@martindusinberre Please let me know if you'd like validator to check for anything related to this.

[2019-08-14 14:39] christian-bernet commented on #7
On 2.4.3.1.1.5 to 2.4.3.2 I can not reproduce this error.
Let us check that together.

[2019-08-14 14:57] christian-bernet commented on #5
blocked frontend go plantation lives:
1. ch4 decent money then continue until page Making a plan
2. choose Hamilton Library
3. on page Hamilton Library Round-Up click fast on the continue button
4. now the page is locked

[2019-08-14 15:07] christian-bernet commented on #13
This is a backend bug. I have to fix that.

[2019-08-14 15:24] christian-bernet commented on #13
The reply of the mail should be added to the last notebook entry that was added in the notebook.

[2019-08-14 18:32] #15 closed

[2019-08-14 19:21] martindusinberre commented on #5
Just occurred to me as I transitioned from 2.4.1.3.4.2 to 2.4.1.3.4.2D

[2019-08-14 19:33] martindusinberre commented on #9
This is still occurring: I'm in chapter 4 having taken the shortcut "good/decent money". This gave me 700 EUR, then down to 501 EUR (after page 2.4.1.1a--this is correct); then I couldn't see whether it had added 200 EUR (I went to 2.4.1.3.4.2D) because of the split screen bug; but after choosing HSA at 2.4.2.2 and then playing through to 2.4.3.1.1.5, the problem occurred. That is, in transitionin

[2019-08-14 20:08] martindusinberre commented on #11
This is fixed in terms of visitedAny.
But there's now still a problem in terms of notVisited when there are more than one inputs.
For example, I played chapter 4 visiting the Edersons first (2.4.1.3.4.1Ed).
When I got to 2.4.2.2, I was no longer offered the Edersons because the visitedAny functionality now works fine. Thanks!
But then, having played through HSA (2.4.3.1.1.1HSA) and come to 2.4.3.2

[2019-08-14 20:38] martindusinberre commented on #11
The combination of notVisited is also a problem at 2.4.4.1.3.3, for example, when the player sees two "Continue" buttons (they should only see one).

[2019-08-14 20:51] martindusinberre commented on #7
I've worked out in more detail what happens: this problem *only* occurs if, while on 2.4.1.3.1.3, the player actually opens the zoom function. (The problem doesn't occur if the player doesn't open any of the imageComponents using the zoom function.)
If I scroll forward to, say, image 5/7 in the zoomed image on 2.4.1.3.1.3, then the imageComponent on 2.4.1.3.1.4 will now *start* at image 5 (out of

[2019-08-15 07:15] christian-bernet commented on #11
I have to check that.

[2019-08-15 07:45] christian-bernet commented on #7
perfect. That will help. So we can fix that.

[2019-08-15 07:49] interrogator commented on #12
@christian-bernet, try:

`uzh/marugoto-frontend@ae0aae6`: uzh/marugoto-frontend@ae0aae6

[2019-08-15 07:51] christian-bernet commented on #17
should we add each image or should we add the functionality to switch to the next image?

[2019-08-15 08:01] christian-bernet commented on #12
thanks

[2019-08-15 08:50] martindusinberre opened #18 "notVisited: work around solution for notVisited *or* notVisited"
But there's now still a problem in terms of notVisited when there are more than one inputs.
For example, I played chapter 4 visiting the Edersons first (2.4.1.3.4.1Ed).
When I got to 2.4.2.2, I was no longer offered the Edersons because the visitedAny functionality now works fine. Thanks!
But then, having played through HSA (2.4.3.1.1.1HSA) and come to 2.4.3.2, I was mistakenly offered the option

[2019-08-15 09:10] zlaxi opened #19 "App freeze when dialog skipped"
App freeze when dialog timer fires after page transition

[2019-08-15 09:17] zlaxi commented on #19
Fix on master branch in commit:
https://github.com/uzh/marugoto-frontend/commit/bb7213500b2d8bd5b47b150a4d3d89345c9674dc

[2019-08-15 09:55] christian-bernet commented on #18
so it is developed: commit f28a648d

@martindusinberre you will find an example in DemoTopic

[2019-08-15 10:00] christian-bernet commented on #19
ch4 decent money then continue until page Making a plan
choose Hamilton Library
on page Hamilton Library Round-Up click fast on the continue button
now the page is locked

[2019-08-15 10:00] christian-bernet commented on #19
prefect

[2019-08-15 10:00] #19 closed

[2019-08-15 14:00] christian-bernet opened #20 "Fix error for coverage reporting"
Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report (default-cli) on project parent: Execution default-cli of goal org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report failed: A required class was missing while executing org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report: javax/xml/bind/DatatypeConverter

In the backend....

[2019-08-15 14:17] christian-bernet opened #21 "Make the importer more stable"

[2019-08-15 14:23] christian-bernet commented on #5
Info from Martin: it appears if you have to notebook or the mail layer open and a dialog or a mail pops up.
check if there is a functionality to open the notebook automatically.

Ideas of reproducing:
page: open mail + dialog in 3 seconds (at the same time)
others?

[2019-08-15 15:29] martindusinberre commented on #5
Hi Christian: just to say, today I've been only checking the menu choices and the money etc. As a consequence, I've not opened the Notebook at all--and the split screen error hasn't once occurred. (I have opened the mail several times and there's been no split screen problem.) So it seems to happen when the notebook is open, although I can't be more precise than that at the moment...

[2019-08-15 15:30] christian-bernet opened #22 "multiple date field on one page page transition stays"
it is in plantation lives on page 2.4.3.1.2.2. If you once put in the right dates the page transition is shown and never gone away. I think it's a backend bug.

[2019-08-15 15:33] christian-bernet commented on #14
this is done: uzh/marugoto-frontend@4779e09

[2019-08-15 15:35] martindusinberre commented on #14
Great. Do I pull it into git? I'm not seeing it when I try to fetch at the moment.

[2019-08-15 15:36] martindusinberre commented on #22
OK, the work-around for the test will be for me to change the page transition criteria (no longer need exact answer). Thanks, Martin

[2019-08-15 15:51] christian-bernet commented on #22
you don't have to change anything. that is only a small issue. You can play through now.

[2019-08-15 16:56] christian-bernet commented on #14
there was no change at the content. It was a bug in the frontend. so it will work now, without any change from your side.

[2019-08-16 08:25] martindusinberre commented on #14
Sorted, thank you!

[2019-08-16 08:25] #14 closed

[2019-08-16 09:00] #9 closed

[2019-08-16 10:31] #18 closed

[2019-08-16 10:37] martindusinberre commented on #11
visitedAny isn't working again. The problem is on 2.4.3.2, and then on several pages after that. Basically, if I have come to 2.4.3.2 from either 2.4.1.3.3.1Ham or 2.4.3.1.3.1Ham, I should be offered the option of going to HPV (that is, 2.4.3.2/pageTransition3). But I am not being offered that option.
Similarly, if I come from either 2.4.1.3.1.1HSA or 2.4.3.1.1.1HSA, I should be offered the option

[2019-08-16 10:43] martindusinberre commented on #11
I will do a work-around to work for Monday: I'll effectively cut the page criteria for what were until now visitedAny pageTransitions on 2.4.3.2 and 2.4.4.3 respectively. In other cases, e.g. 2.4.4.1.1.6 and similar variations (2.4.4.1.1.8, 2.4.4.1.2.4 etc) I've left the malfunctioning pageTransition file but simply added another one.

[2019-08-16 13:47] martindusinberre commented on #5
As I play through: here is where it occurs again:
- when I click "continue" to transition from 2.1.4 to 2.1.5: the notebook and mail layers come up simultaneously; after I respond to the dialogue box on 2.1.5, I can only return to the notebook/mail layer, not to page 2.1.5 itself.
- when I click "continue" to transition from 2.4.1.3.3.3 to 2.4.2.1: the notebook and mail layers come up simultaneous

[2019-08-19 08:25] interrogator opened #23 "Downloading notebook as PDF does not work"
I tried to download the PDF contents of my Notebook. A download does start, for `marugoto-notebook.pdf`, but the content is not PDF:

[code]

[2019-08-19 11:00] interrogator opened #24 "Session management when internet dies"
During our testing, we had some internet connectivity issues. I found that basically any disruption in internet would send me back to the login screen, while other websites I have logins for remember me without issue. So I guess some session data storage with good timeouts could solve this.

[2019-08-20 12:07] christian-bernet opened #25 "notebook scrolling with long text"
notebook scrolls up when give something in.

[2019-08-20 12:08] christian-bernet opened #26 "Navigation of notebook broken"
if you have a lot of entries the last navigation points are not reachable.

[2019-08-20 12:20] christian-bernet opened #27 "Zoom functionality in "image""
zoom functionality in the image without opening new window.

[2019-08-22 06:22] martindusinberre opened #28 "Two mails in Inbox instead of one (2.2.1)"
On 2.2.1, mail1.json generates two emails in the Inbox. It should only be one.

[2019-08-22 06:25] martindusinberre commented on #27
This may be connected to a similar issue: when a player is looking at an imageComponent in zoom, but the page itself is on a timer, then when the page automatically transitions, the imageComponent in zoom also transitions to the next imageComponent. This confuses the player. It would make more sense that, when a pageTransition occurs automatically, the zoom function is automatically closed and the

[2019-08-22 06:27] martindusinberre opened #29 "Email inbox small feature change"
When a player receives an email, the email display on the right-hand side of the page includes the button "Respond to E-mail". (This button is also at the end of the displayed email.) In both cases, can we change this simply to "Reply"?

[2019-08-22 06:43] martindusinberre commented on #25
Yes, this arose in the test: when the player inputs a lot of text in the notebook, it automatically scrolls up. It seems to be a problem with the amount of text inputted (e.g. a long article abstract or a long input from the player).

[2019-08-22 06:49] martindusinberre opened #30 "Notebook problem with "add new note""
The players are confused by the fact that when they "add new note" to a particular notebook page, and then return to the main page, and then open the notebook again and try to "add new note", they cannot do so.
I think there are two solutions to this:
- **either** the button "add new note" should no longer display when the student opens a new note, so that it's clear that they have to return to th

[2019-08-22 06:51] martindusinberre opened #31 "Use of backspace in Notebook"
Several players noted that when they are inputting in notebook, and then use the backspace button, they lose their entire notebook entry input; and in two cases, using the backspace button also sent them back to the very frontpage of the game. Can we fix this?

[2019-08-22 06:54] martindusinberre opened #32 "swiping back / using back button in browser"
The players were frustrated that when they swiped back a page on their touchpad, or used the browser back button, they were take to the front page of the game. Is there any kind of pop-up functionality we can add to warn the player that they are effectively about to exit the game?

[2019-08-22 06:58] martindusinberre opened #33 "Remove gender choice in first sign-in"
For avoidance of difficult gender issue debates, I think we should remove the gender choice (male/female) from the player's first sign-in. Once this is done, I'll remove the user.gender references in the json files, and just use the first+last name combination instead.

[2019-08-22 07:05] martindusinberre opened #34 "Ability to input textExercise *and* see zoomed image simultaneously"
This is a high-priority request from the players: at the moment, when they have a textExercise (e.g. 2.4.1.3.1.2, or when it repeats as 2.4.3.1.1.2, 2.4.4.1.1.2 and 2.4.5.1.1.2), they are unable to read the handwriting in the unzoomed image. So they use the image zoom functionality. But then they are unable to input the textExercise without first closing the image zoom. One player responded by tak

[2019-08-22 07:07] martindusinberre opened #35 "Open notebook while in Inbox?"
Several players asked if it would be possible to open the notebook while they are in Inbox. This is because they wanted to see their notes while they were writing an email reply (e.g. to Professor Moira).
Is it possible?

[2019-08-22 07:10] martindusinberre commented on #26
This may be related: at some points not all the notebookEntry titles are visible in the notebook's Table of Contents (the black section).

[2019-08-22 07:13] martindusinberre opened #36 "Some browsers prevent page transitions"
Pim/Danny/Ramun will be able to explain this better than me, but some players had problems transitioning when they were playing in particular browsers (e.g. Firefox).

[2019-08-22 07:16] martindusinberre opened #37 "Page transition not possible on 2.4.5.1.1.2"
This happened to me in my testing on Friday at 2.4.5.1.1.2, and it happened to a player on Monday also on the same page (2.4.5.1.1.2): the "continue" button becomes invisible on this page, and there's no way to continue the game (going back to ".../games" and then clicking on "Continue" for existing games doesn't work).

[2019-08-28 12:57] christian-bernet commented on #36
estimate: 2 houres

[2019-08-28 12:57] christian-bernet commented on #37
estimate: 2 houres

[2019-08-28 12:58] christian-bernet commented on #35
estimate: 8 houres

[2019-08-28 13:00] christian-bernet commented on #34
estimate: 4 houres

[2019-08-28 13:00] christian-bernet commented on #33
estimate: 4 houres

[2019-08-28 13:02] christian-bernet commented on #32
@zlaxi what is here possible?
estimate: 4 houres

[2019-08-28 13:06] christian-bernet commented on #31
I can't reproduce this with google Chrome. Do someone remember on wich browser it was?
Estimate: 2h

[2019-08-28 13:08] christian-bernet commented on #30
Estimate 2 houres

[2019-08-28 13:09] christian-bernet commented on #29
Estimate 1 houres

[2019-08-28 13:10] christian-bernet commented on #28
Estimate 2 houres

[2019-08-28 13:13] christian-bernet commented on #24
This is the last open task on our old jira board.
For Zlakto: it is https://vitamin2.atlassian.net/browse/UZHFE-180
Estimate: 4 houres

[2019-08-28 13:15] christian-bernet commented on #23
Estimate: 1 hour

[2019-08-28 13:16] christian-bernet opened #38 "Finish content for download pdf"
The content of the notebook pdf is not finished. we need to talk about how should the content should looks like.
Estimate 8 hours

[2019-08-28 13:18] christian-bernet commented on #38
change it like we want to have the focus on…

Add meta data (Person Date etc.) and Textstyling like the notebook

Finish each component so that it looks like in the notebook as the focus of the pdf rest like the on for the notebook

Fix also this broken unittests.
- testGetNotebookAndUploadedFilesForUser
- testGeneratePdf

[2019-08-28 13:19] christian-bernet opened #39 "Remove notebookVisible on page"
If we do not need that, then we should remove it in backend.
Because in frontend thats not working.
Estimate for removing in backend: 1 hour.

[2019-08-28 13:22] christian-bernet opened #40 "Test marugoto across browsers"
Estimate 16 hours

[2019-08-28 13:23] christian-bernet commented on #22
Estimate 1 hour

[2019-08-28 13:24] christian-bernet commented on #21
Estimate 4 houres

[2019-08-28 13:27] christian-bernet commented on #20
Estimate 1 hour

[2019-08-28 13:28] christian-bernet commented on #17
Estimate 4 hours

[2019-08-28 13:29] christian-bernet commented on #13
Estimate 2 hours

[2019-08-28 13:30] christian-bernet commented on #11
Estimate 4 hours

[2019-08-28 13:31] christian-bernet commented on #7
Estimate 2 hours

[2019-08-28 13:32] christian-bernet commented on #5
Estimate 8 hours

[2019-08-28 13:33] christian-bernet commented on #26
Estimate 2 hours

[2019-08-28 13:34] christian-bernet commented on #25
Estimate 2 hours

[2019-08-28 13:42] christian-bernet commented on #27
I meant that you entered at issue https://github.com/uzh/marugoto/issues/34.
And the one that you mean, is in issue https://github.com/uzh/marugoto/issues/7 documented.

Because this is now double, I close this issue.

[2019-09-01 11:19] martindusinberre commented on #39
I agree. Can we also update all of the json files once this has been done? (See new issue I've opened)

[2019-09-01 11:23] martindusinberre opened #41 "Standardize existing json files once a change has been made"
This is a question that directly arises from #39, but which I've wondered now for a long time: once a change has been made, is it possible to update all the json files so that the implementers (me, Lena, Leyla) are always dealing with the most up-to-date json file? At the moment, because of similar content, I have created json files (say, for HSA on day 4) based on previous json files (say, HSA da

[2019-09-01 11:34] martindusinberre commented on #27
This is not the same as #34 or #7.
#7 is a bug, and needs fixing.
#34 is an enhancement request: the testers wanted to be able to see the notebook while in Inbox.
This issue here is a problem with the logic of the page transition that none of us foresaw, namely: what happens when there is an automatic (e.g. timed) page transition while the player is viewing an image in zoom? At the moment, the zoo

[2019-09-01 11:49] martindusinberre opened #42 "FAQ on front page in case of browser pop-up blocking problems etc"
This from Lena: it relates to #36 and #40: can we add a tab for FAQs on the front page in case a player (particularly in Firefox) comes across problems in playing the game?

[2019-09-01 13:07] martindusinberre commented on #38
This is the same as #23 so I closed #23.

[2019-09-01 13:07] martindusinberre commented on #23
I have closed this becaus it's also #38.

[2019-09-01 13:07] #23 closed

[2019-09-01 13:51] martindusinberre opened #43 "Map visible at end of topic"
This is one feature which many testers and stakeholders insist we shouldn't lose. How can we make it work within the time/budget constraints?

[2019-09-01 14:28] martindusinberre opened #44 "Different font in Notebook for email response inputs"
A question from the testers: is it possible for them to see in the notebook that an input they have generated by replying to an email is different to an input they have generated through a textExercise or "add new note"?

[2019-09-01 14:45] martindusinberre opened #45 "Data protection clarity (and text for frontpage)"
Can we have absolute clarity on what text we need to include on the frontpage for data protection (and whether we need to be more explicit about email storage protections, pseudonyms etc)?

[2019-09-02 05:06] christian-bernet commented on #38
also PDF is not working at the moment if you tried to download it as a player on the test-system.

[2019-09-02 07:54] christian-bernet commented on #40
Check Firefox and Internet Explorer

[2019-09-02 08:04] witlox opened #46 "Asynchronous processing v.s. state update"
While having a 'slow' connection between the front-end and back-end, a user can for example click on 'send email' multiple times before receiving a state update on the front end. This can result in receiving a mail 10 times. This may also be related to 'not being able to transition' to a new page, if the state update is very slow.

Can we throttle the connection between the backend and frontend to

[2019-09-02 08:22] christian-bernet commented on #38
content of pdf should be:
- all input and content like in the notebook
- for resources add reference to the original resources that it can be opened with the browser!

[2019-09-02 08:37] christian-bernet commented on #32
do nothing if you click on "back"

[2019-09-02 08:40] interrogator opened #47 "Add a Home button, in place of Back functionality"
Back functionality is being disabled, to stop the user exiting the game by mistake.

Instead, we should add some kind of link to the mainpage from within the game, either saying `Marugoto` or `Home`. Seems like this can just be done in pure HTML.

[2019-09-02 08:46] interrogator commented on #44
Also on the subject of input font, I heard in my feedback a question about rich text (i.e. bold and so on). I like the idea, but think it should be a 'next version' feature, because I believe it'll involve adding a whole rendering component...

[2019-09-02 08:47] christian-bernet commented on #34
add zoom functionality also to the image in content.

[2019-09-02 08:51] christian-bernet commented on #39
ok. clean it up

[2019-09-02 08:55] interrogator commented on #35
Very nice, but it's a lot of work, best for a future release

[2019-09-02 09:08] witlox opened #48 "Integrate Shibboleth branch"
Figure out entrypoint for Shibboleth and integrate branch to master

[2019-09-02 09:44] interrogator commented on #41
This would be a validator feature, but in my opinion, there is no feasible way to do this. The development time for a fairly unstable algorithm for this would far exceed the time saved.

Explanation: the JSON validator is fairly superficial compared to the importer, in terms of how it 'understands' the JSON. To add such code to the validator would take forever, and it's not in the scope of the imp

[2019-09-02 09:58] christian-bernet commented on #21
add a clean up process if the state is inconsistence!

[2019-09-02 10:05] interrogator commented on #41
After discussion: people can tell me what needs batch-changing in the JSON, I can make fixes. Just be very specific about what you want.

[2019-09-02 10:14] interrogator commented on #24
Priority? This was a pretty constant problem for me when playing during the testing...

[2019-09-02 10:43] interrogator opened #49 "GitHub and Twitter links on main page"
Users need to be able to give feedback. It makes sense that they can either Tweet at us, or make GitHub issues. So, two buttons in the HTML, plus adding a `Contributing` section to this README.

[2019-09-02 10:43] interrogator commented on #49
I can write the contributing section.

[2019-09-02 10:55] christian-bernet commented on #5
page 2.1.3. text exercise and press tab

[2019-09-02 10:59] christian-bernet commented on #40
test major browsers with current versions: Chrome, Firefox, MS Edge, Safari

[2019-09-02 11:48] interrogator commented on #40
Latest versions only, please. I really doubt there's time to do a great job
of this...

On Mon, Sep 2, 2019 at 12:59 PM christian-bernet <notifications@github.com>
wrote:

[2019-09-02 12:12] interrogator commented on #21
As part of this issue, let me know if there is something I can add to the JSON validator, which basically checks that JSON is valid, and that mandatory keys are there, containing values of correct type.

[2019-09-02 12:24] interrogator commented on #39
@martindusinberre let me know what should be removed/changed in JSON and I'll do it

[2019-09-02 15:57] martindusinberre commented on #41
Thanks Danny: that's the way we'll do it, so I'll close this issue now.

[2019-09-02 15:57] #41 closed

[2019-09-02 16:04] interrogator commented on #42
So main page should have `FAQ`, `Twitter` and `GitHub` links at the top somewhere? Any others?

[2019-09-02 16:08] martindusinberre commented on #45
Leyla will talk to her colleagues at DLF about this with particular reference to whether student input in MOOCs (or Adfontes) count as "private data". Ideally, she would be able to come back to us with a draft text that could go on the game's frontpage (in one of the tabs)

[2019-09-02 16:09] martindusinberre commented on #42
Main page should have FAQ as one of the tabs down the left hand side, I think. Twitter and Github links at the top, I would suggest. Or under the signature, "The LiT Team, UZH"?

[2019-09-02 16:11] martindusinberre commented on #49
See our comments also in #42

[2019-09-02 16:17] martindusinberre commented on #43
I'm assigning this to Leyla in the first instance as I can't find Lena in the list of github assignees!

[2019-09-02 16:38] martindusinberre commented on #33
This is connected to #48 (according to Pim's input today)

[2019-09-02 16:39] martindusinberre commented on #31
Leyla will look at this and try to reproduce in the first instance. Please don't work on it until she reports back with a comment here.

[2019-09-02 16:52] martindusinberre commented on #17
This is also connected to #38 in terms of images with multiple pages being displayed in the notebook's appendix when it's downloaded as a PDF

[2019-09-03 08:36] christian-bernet commented on #36
@interrogator can you please give us a reproducible example of that?

[2019-09-03 08:43] interrogator commented on #36
I never saw this happen and don't really know what it is or what browser affected (and am against a great deal of cross-browser testing at this stage). Maybe @witlox saw it on a tester's machine?

[2019-09-03 08:50] interrogator commented on #44
Just for the record, it turns out that you can actually input raw HTML in some inputs, and it'll be rendered. That could either be exploited for rich text support, or should be removed via sanitisation.

[2019-09-03 08:59] interrogator commented on #36
Pim and I have a feeling that the problems we saw may actually be related to the internet connection problems during the test. Unless anybody can reliably find a Firefox transition problem, the real fix is actually #24 , which should for this reason get priority.

[2019-09-03 09:03] interrogator commented on #40
Please note, since we think some bugs initially thought to be browser related may have really been caused by lack of session management during bad internet connections, we might want to get sessions in place before rigorous cross browser tests.

[2019-09-03 09:56] lfeine commented on #45
I asked about the data privacy and Anita said the deciding factor is where our data is stored. If it's all within the university/switzerland, it shouldn't be a problem, but we should probably include some sort of user agreement that specifies how long the data is stored and what it's used for. If the data is stored with a third party outside of switzerland, we'd have to make a contract with them.

[2019-09-03 11:22] zlaxi commented on #5
After playing around on how to reproduce split screen bug I found what works for me, so please try and confirm.

1. Open notebook add entry
2. Close notebook (important is to be closed)
3. Make transition

[2019-09-03 11:45] christian-bernet commented on #25
it is only on firefox

[2019-09-03 11:46] martindusinberre commented on #5
Correct. That's certainly reproduced it for me...

[2019-09-03 11:47] martindusinberre commented on #25
Does that mean it's a bug or a settings problem?

[2019-09-03 11:48] christian-bernet commented on #25
tested on Chrome and Firefox. But bug can't be reproduced.

[2019-09-03 12:27] zlaxi commented on #26
Bug was related to firefox browser, commit is :
https://github.com/uzh/marugoto-frontend/commit/7caba3b2f4f0f3cd18efdc0f9fe7bc78b5282bfb

[2019-09-08 20:43] Helena-LiT commented on #43
This is a first draft of the Plantation Lives storyline map (PDF). Don't worry about icon-copyrights at this point, I have mainly focused on the structure. The icons can be replaced with text. I have decided to ignore the temporal dimension in the chapter 4 section and settled for a spatial visualization instead.
Please refer to the Chapter4 graph for a simplified overview of this part.

[Plantati

[2019-09-09 06:08] christian-bernet commented on #37
related to https://github.com/uzh/marugoto/issues/46

[2019-09-09 06:17] christian-bernet commented on #31
@lfeine can you please give us some feedback. Otherwise we can't fix it. thanks....

[2019-09-09 06:23] christian-bernet commented on #25
reproduced on chrome and firefox

[2019-09-09 07:25] christian-bernet commented on #26
that works now.
I checked that.

You can now scroll now also in the firefox.

[2019-09-09 07:34] lfeine commented on #31
I haven't been able to do a full test yet, however I think this issue might actually be related to #32 , since some browsers have backspace bound to the back button. This would cause issues quite similar to the oness experienced by the users here.
It will be fairly difficult to reproduce however, since backspace being bound to this functionality is both dependent on OS and browser (Firefox on Wind

[2019-09-09 07:56] christian-bernet commented on #31
I think it is important to only reproduce the problem with
"Several players noted that when they are inputting in notebook, and then use the backspace button, they lose their entire notebook entry input;"

The other one is solved with: https://github.com/uzh/marugoto/issues/32

[2019-09-09 08:32] christian-bernet opened #50 "Long personal note should show all lines if you click in the field"
If you click in the personal note only the first two lines are shown.
Only if you hit the keyboard all content is shown.

[2019-09-09 08:42] martindusinberre commented on #43
Thanks Lena, I'll look at this while in transit to Poland today

[2019-09-09 08:43] martindusinberre commented on #45
Pim, can you please check where our data will be stored so that Leyla can get back to DLF? Thanks, Martin

[2019-09-09 11:52] christian-bernet commented on #11
@martindusinberre can you please add now the wished page transition, so that I can have a look at it afterwards?
I did not find any transition on page  2.4.3.2 or 2.4.4.3 with criteria visitedAny.

[2019-09-09 12:08] christian-bernet commented on #26
Navigation is cutted of since the newest change!

![image](https://user-images.githubusercontent.com/41006947/64529432-288de680-d30b-11e9-8a8e-dac52abfee4e.png)

[2019-09-09 12:32] christian-bernet commented on #28
we can not reproduce this situation. Maybe there was an error in the content that is now away.
@martindusinberre can you please verify.

[2019-09-09 12:50] christian-bernet commented on #46
**For mail reply**
If you slow down the backend speed for example for the mail reply it results in having 10 times the mail reply in the inbox.
**We need to change the frontend, so the it will only place on request and not more!**

[2019-09-09 13:05] christian-bernet commented on #36
I think it is more related to https://github.com/uzh/marugoto/issues/46.
When the backend is slow and I click multiple times on a page transition button, it results in multiple backend calls, which is bad.

[2019-09-09 13:49] Helena-LiT commented on #43
The graph in the PDF is put together with LaTeX using TikZ. I have created a collection of alternative icons, but if you have ideas to change particular icons that would make it look more consistent (as Ramun has suggested), please upload them here.

[2019-09-09 15:05] christian-bernet commented on #13
If you reply to a mail two times it now shows both reply in two notebook entries, which is not that good.

I think we should change the state model to that:
- new reference from notebookContent to MailReply
- change reference from notebookContent to MailState to Mail instead

![image](https://user-images.githubusercontent.com/41006947/64542498-f50b8600-d323-11e9-839e-aadb83ffebd6.png)

[2019-09-10 08:27] christian-bernet commented on #47
We will solve this with:
- disable the back functionality of the browser
- add an icon at the right down corner to get to the "Your games" Screen

[2019-09-10 08:28] martindusinberre commented on #11
@christian-bernet I deleted all the visitedAny criteria before the test because they weren't working. I've now added some criteria to 2.4.3.2/pageTransition1.json and 2.4.3.2/pageTransition3.json. I've left the button text the same so that you can see the criteria I want: that is (on pT1) that the button text HMCS is **only** visible to the player **if** they visited **either** HSA on day 1 (2.4.1

[2019-09-10 08:39] martindusinberre commented on #25
Basically: copy and paste a long text into the textExercise component on 2.1.3. Then try to input more text at the bottom of the long text input. You'll see that you keep getting scrolled away from where your cursor is / where you want to input text.

[2019-09-10 08:43] christian-bernet commented on #24
to do now:

add loading bar 5 pixel black

Add dialog box if backend does not respond in the timeout! Instead of logging out! But log out afterwards!

[2019-09-10 08:58] martindusinberre opened #51 "Page transition blocked on 2.1.9"
This has just occurred as I was trying to play through to test #28.
I'm on 2.1.9 (having come via 2.1.7--it's important to know this as usually I come via 2.1.6).
I now can't transition to 2.2.1 (which is where I will go if I've come via 2.1.7) because when I click on "Continue", nothing happens.

[2019-09-10 08:59] martindusinberre commented on #51
I'm playing on safari, incidentally.

[2019-09-10 09:03] martindusinberre commented on #28
Hi Christian: please reassign this to me once #51 has been fixed, and then I can test for the two-email problem on 2.2.1 again.

[2019-09-10 09:14] christian-bernet commented on #47
please add this Icon
![image](https://user-images.githubusercontent.com/41006947/64600829-19b33c80-d3bc-11e9-91e9-7a267aad32b1.png)

<svg width="32" height="29" xmlns="http://www.w3.org/2000/svg"><path d="M16 12.2l4.6 3.45-1.2 1.6-2.4-1.8V29H5v-2h10V15.45l-2.4 1.8-1.2-1.6L16 12.2zM16 .22L26.975 9H27v.018l4.625 3.7-1.25 1.563L27 11.579 27 23h-8v-2h6V9.98l-9-7.2-9 7.2V21h6v2H5V11.58l-3.375 2.7-1.25-

[2019-09-10 09:14] christian-bernet commented on #47
<svg width="32" height="29" xmlns="http://www.w3.org/2000/svg"><path d="M16 12.2l4.6 3.45-1.2 1.6-2.4-1.8V29H5v-2h10V15.45l-2.4 1.8-1.2-1.6L16 12.2zM16 .22L26.975 9H27v.018l4.625 3.7-1.25 1.563L27 11.579 27 23h-8v-2h6V9.98l-9-7.2-9 7.2V21h6v2H5V11.58l-3.375 2.7-1.25-1.561L5 9.019 5 9h.024L16 .22z" fill="#2F3133" fill-rule="nonzero"/></svg>

[2019-09-10 09:21] martindusinberre commented on #43
@Helena-LiT , I think it's very clever, the way you've spatialized chapter 4. It's wonderful that we have the whole storyline (except the online stuff, obviously) on one page, too. One question for chapter 4, however: do you think we should add a red X through the elements that a player **didn't** visit, e.g. they never went to the Edersons, or they never made it to the beach, or to the HMCS? If w

[2019-09-10 09:32] lfeine commented on #51
<img width="630" alt="Screenshot 2019-09-09 at 11 58 51" src="https://user-images.githubusercontent.com/54706676/64602106-70ba1100-d3be-11e9-95f5-cc29a7f13c3c.png">

Screenshot of the console when this bug happens. (Screenshot taken on either Firefox 69.0 or Chrome 76.0.3809.132, it occured in both browsers)

[2019-09-10 09:34] christian-bernet commented on #51
thanks. I is clear for me. I am on it. :-)

[2019-09-10 10:14] nemtish commented on #22
Fix: https://github.com/uzh/marugoto/commit/6e62605ab627a8ee1ed2286ec33f3c2dbb437c16

[2019-09-10 11:51] christian-bernet commented on #51
It is working now. With no change from my side.

I think that the backend was not reachable or the importer was struggling.

[2019-09-10 12:20] nemtish commented on #13
Fixed with: https://github.com/uzh/marugoto/commit/e5456494635cc4a745ec4fbf1df7874ff7e0df30

[2019-09-10 13:24] christian-bernet commented on #38
As discussed here are the first rough drafts of the PDF of a notebook.

One example of Plantation Lives without appendix:
[marugoto-notebook.pdf](https://github.com/uzh/marugoto/files/3595836/marugoto-notebook.pdf)

One example of Demo Topic with new appendix:
[notebook-nemanja tišma.pdf](https://github.com/uzh/marugoto/files/3595837/notebook-nemanja.tisma.pdf)

@martindusinberre Should we continu

[2019-09-10 13:30] nemtish commented on #38
Added with commit: https://github.com/uzh/marugoto/commit/807d96d977cbd2a92aecba950a8ebc70ae92a9f9

[2019-09-10 18:43] martindusinberre commented on #38
The comment from Ramun was how it would actually look with a lot of inputted data. If I were to do a proper play through, then would you able to see my inputs and turn them into a notebook PDF? If so, I can do that on Wednesday so that you have a lot of dummy text.
As for my comments: it looks fine and please continue. Just a few issues:
1. If I remember right, we said that we would keep single im

[2019-09-11 07:56] christian-bernet commented on #38
Thanks for your feedback. To your points:
1. We show only the first image in the notebook. And in the appendix we will show only the images where there is "zoomable" set to true.
**OK for you?**
2. Yes, there is a problem at the moment with the fonts. so yes.
3. Yes, we can add a header with TopicName - player name and page number

[2019-09-11 08:05] christian-bernet opened #52 "Notebook PDF is not working on the test system"
From the frontend on the test system there is a wrong url called.
It has /resources/ before, which is wrong.
https://marugoto.s3it.uzh.ch/resources/api/notebook/pdf/current

Please change it.

[2019-09-11 08:18] martindusinberre commented on #38
Great. So 1.: in the appendix are images with "zoom" and also with multiple jpgs, with each jpg file appearing as a separate image in the appendix, right?
3. Thanks. Is it also possible for you to set the **name** of the downloaded PDF file to include the player firstName+lastName?

[2019-09-11 08:47] nemtish opened #53 "Section layout messed up when notebook is open and dialog pops up"
<img width="1436" alt="Screenshot 2019-09-11 at 10 36 39" src="https://user-images.githubusercontent.com/19348068/64682252-74fb3280-d481-11e9-9dda-26ee293fe6e7.png">

[2019-09-11 08:50] christian-bernet commented on #38
for 1: yes, exactly.
3: I think I would not waste time for it. Because it is always your name..... but we can do it, if you want.

[2019-09-11 08:51] christian-bernet commented on #53
this is the Split screen bug we have: https://github.com/uzh/marugoto/issues/5

[2019-09-11 08:53] nemtish commented on #53
alright, this is first time I am seeing it :)..

[2019-09-11 09:15] martindusinberre commented on #38
3: good, don't waste time on it! As long as the player name is visible on each notebook page, in that case. Thanks to you all.

[2019-09-11 10:09] witlox commented on #45
data will only be stored `in system`, as long as the system is hosted in Switzerland, the data will reside in Switzerland.

[2019-09-11 10:14] witlox commented on #51
it could be an issue with the database container, there are some configuration settings which may need changing:
- maximum number of memory mappings per process is 65530, which seems too low. it is recommended to set it to at least 256000
- it doesn't appear to have a large memory footprint
- currently on test, the logs aren't stored
- the service doesn't automatically restart containers

[2019-09-11 10:59] Helena-LiT commented on #43
I have built the map on the assumption that it should be showing all available otions and that the students would print it out and mark their individual path on it, assigning the numbers 1 to 5 to the icons in chapter4. I have tried this with Tamara, it certainly works under supervision, so it could be done in class or with additional instructions.
Since the map is no longer automatically generate

[2019-09-11 13:04] christian-bernet commented on #28
ok. Assigned now to you.

[2019-09-11 13:12] interrogator opened #54 "Dealing with changes to game model/JSON scheme"
Today we found out that `isAbsolute` key is unused, so it was removed from JSON. That's good. Because of this, the `time` key format became redundant. Time is now specified like this:

`{"time": {"time": int}}`

Ideally, the nested object is simply replaced by an int. @christian-bernet however says that such a change is difficult to make. So, this issue is both the specific (i.e. making it simply

[2019-09-11 13:21] christian-bernet commented on #13
frontend needs to be changed also!

[2019-09-11 13:49] martindusinberre commented on #45
Now that we're clear from Pim that the data is stored in Switzerland, then it's time to deal with this from your previous comment: "we should probably include some sort of user agreement that specifies how long the data is stored and what it's used for". @witlox can you let Leyla know this, and then @lfeine can you please go to Anita in DLF and see if they have some kind of template text we can us

[2019-09-11 13:54] martindusinberre commented on #54
Thanks, Danny, good point. @christian-bernet This isn't a priority for this particular sprint but please bear in mind that such information/documentation will be a key part of your handing the whole product over to us in March 2020 so that we can run it ourselves once the contract ends.

[2019-09-11 14:21] christian-bernet commented on #22
Reviewed and testet. Perfect.

[2019-09-11 14:22] christian-bernet commented on #22
would you like to verify it? If not, simply close it.

[2019-09-11 20:17] nemtish commented on #38
Draft v1:
[marugoto-notebook.pdf](https://github.com/uzh/marugoto/files/3602552/marugoto-notebook.pdf)

[2019-09-12 11:44] christian-bernet opened #55 "Fix supervise class screen"
**Date selector**
If you change the date in frontend backend is not updated correctly.
Please fix frontend component.
![image](https://user-images.githubusercontent.com/41006947/64781537-608f6680-d563-11e9-8bc4-b701ecb893a1.png)

[2019-09-13 11:52] #33 closed

[2019-09-13 12:31] lfeine commented on #25
This is still happening to me on Firefox 69.0 (OSX). Fixed on my Chrome install though.

[2019-09-13 14:04] lfeine opened #56 "Date picker widget does not display correctly"
Depending on screen size, the date picker widget does not display all numbers, or displays them outside of the container. Right now the picker only functions correctly between 1110 and 1124 window width. Tested on Chrome and Firefox.

<img width="445" alt="Screenshot 2019-09-13 at 15 43 43" src="https://user-images.githubusercontent.com/54706676/64868380-825e1b80-d63f-11e9-9721-06f349629545.png">

[2019-09-13 14:05] #22 closed

[2019-09-13 14:05] #50 closed

[2019-09-13 14:06] #26 closed

[2019-09-13 15:49] zlaxi commented on #7
https://github.com/uzh/marugoto-frontend/commit/7b760319ff7ff56fb96411c63be477dfc07d47cf

[2019-09-15 08:15] Helena-LiT commented on #43
I have uploaded the map to the resources folder. The file name is: Map_PlantationLives_blank.jpg

[2019-09-15 08:15] #43 closed

[2019-09-15 21:33] Helena-LiT commented on #11
visitedAny works for 2.4.3.2/pageTransition1.json and 2.4.3.2/pageTransition3.json. The old button text can go now, the the issue can be closed.

[2019-09-16 05:43] christian-bernet commented on #25
Yes, it is still there fro Firefox on mac osx!

[2019-09-16 06:57] martindusinberre commented on #25
Still also happening for Safari in Mac OSX (12.1.2)

[2019-09-16 07:15] #11 closed

[2019-09-16 07:29] christian-bernet commented on #52
on Safari we can not download notebook pdf in the game

[2019-09-16 07:34] lfeine commented on #56
We've decided the best solution is just to remove the date picker widget entirely. The input field for the date stays the same.

[2019-09-16 07:39] interrogator opened #57 "Contributing guidelines"
Add guide for contributors

[2019-09-16 07:42] witlox opened #58 "configuration flag for enabling shibboleth"

[2019-09-16 07:44] interrogator commented on #51
Not relevant for production environment, because it only occurs when auto update happens. Probably do nothing...

[2019-09-16 11:44] christian-bernet commented on #7
not done yet....

[2019-09-17 08:47] christian-bernet commented on #7
ok. that is done now and also on test-system.
Please recheck it.

[2019-09-17 12:51] christian-bernet commented on #52
If we have an image in the pdf, then we get an exception org.springframework.web.HttpMediaTypeNotAcceptableException: Could not find acceptable representation

[2019-09-17 13:05] christian-bernet commented on #51
I had this problem today again.
It is because the importer was not rund completely.
The importer was stopped, because I pushed a new version of the backend to the test-system.
So I had to remove the hidden folder and rerun the importer and then the problem was gone.

The conclusion is: making the importer more stable as planned in https://github.com/uzh/marugoto/issues/21 will also solve this issu

[2019-09-17 15:33] christian-bernet commented on #52
OK. It is working now.

@martindusinberre from now the notebook pdf and the zip from from the game screen will work.
Please try. :)

[2019-09-18 09:29] zlaxi commented on #25
https://github.com/uzh/marugoto-frontend/commit/c70b860aa9f20614a9ba8ba936c19568f3f49a68 clipboard paste also handled

[2019-09-18 09:31] christian-bernet commented on #5
estimate 8 hours

[2019-09-18 09:46] christian-bernet commented on #56
@zlaxi remove it for the component date exercise!

[2019-09-18 09:58] christian-bernet commented on #25
if you hit enter, the fist line is cut off.
![image](https://user-images.githubusercontent.com/41006947/65138035-9bcde180-da0a-11e9-870b-eac7150d38f7.png)

instead of
![image](https://user-images.githubusercontent.com/41006947/65138068-a8ead080-da0a-11e9-9e40-dc852ca8858b.png)

Or if you have a long input field it cut on line off at the end.

But it is working on Chrome, Safari and Firefox now.

[2019-09-18 10:04] christian-bernet opened #59 "Scroll problem TextExercise"
In the TextExercise we have the same problems like they were in the personal note with scrolling. We need also to fix that for the TextExercise!

Personal not bug is: https://github.com/uzh/marugoto/issues/25

[2019-09-18 11:52] zlaxi commented on #55
https://github.com/uzh/marugoto-frontend/commit/22cfcce8d27949b7eb61af15ab9a690f5b174e98

[2019-09-18 12:19] christian-bernet commented on #38
@martindusinberre Can you have a look at this now and give us some feedback until Monday morning. It should works now on the test system.
We will do the last changes here on Monday.

[2019-09-18 12:32] christian-bernet commented on #49
We place the links left to the Disclaimer:
Git Twitter Disclamer
![image](https://user-images.githubusercontent.com/41006947/65148689-01c56380-da21-11e9-94b3-83b439fed954.png)

Please add the links here in this issue. Thanks.

[2019-09-19 07:36] martindusinberre commented on #5
This is now constantly happening to me when I press "Continue" in 2.1.4: before the page transitions to 2.1.5, I'm getting exactly the split screen that Nemanja posted in #53

[2019-09-19 07:46] martindusinberre commented on #5
It occurs again when I press "Continue" in 2.1.7.
One pattern that I therefore suspect: is it happening on the transition from one page when the next page has a timed dialogue box?

[2019-09-19 07:49] martindusinberre commented on #28
Sorry, the bug is still there.
<img width="1362" alt="Screen Shot 2019-09-19 at 09 46 53" src="https://user-images.githubusercontent.com/53183999/65224078-c11e2680-dac2-11e9-8fd3-b01379e22156.png">

[2019-09-19 08:02] martindusinberre commented on #25
I've been testing this (on safari) this morning. It's much better than before. Basically, if the player keeps writing an input, there is no problem at all with scrolling.
The problem *only* occurs when the player copy and pastes a big amount of text into the notebook (sometimes the game asks the player to do this). In this situation, the scrolling function is broken: it's very difficult to add any

[2019-09-19 08:10] martindusinberre commented on #52
Yes, I was able to download the notebook PDF mid-game just now using the download icon. Thanks!

[2019-09-19 08:10] #52 closed

[2019-09-19 08:12] martindusinberre commented on #38
This is almost there. But one problem. Here is a screenshot of my very long notebook entry (to test #25 )
<img width="697" alt="Screen Shot 2019-09-19 at 10 11 32" src="https://user-images.githubusercontent.com/53183999/65225762-f8da9d80-dac5-11e9-80b3-6228a978ffe0.png">

[2019-09-19 08:13] martindusinberre commented on #38
And here is the relevant page in the notebook:
[MD_Notebook_p2_19Sept19.pdf](https://github.com/uzh/marugoto/files/3630127/MD_Notebook_p2_19Sept19.pdf)

[2019-09-19 08:15] christian-bernet commented on #25
I tried it also with long text and it works perfect.
![image](https://user-images.githubusercontent.com/41006947/65225939-4951fb00-dac6-11e9-8030-50d98c6d292b.png)

Can you give me a more detailed description of how to reproduce this bug.
Thanks.

[2019-09-19 08:15] martindusinberre commented on #38
You can see that the right-hand side margins for the notebook entry aren't correctly set in the PDF.
You can also see that where there should be a page break in the notebook (because the entry is very long), the text just goes down to the end of the page and over the footer--and then runs out. Is there anything that can be done about this?

[2019-09-19 08:17] martindusinberre commented on #38
@Helena-LiT @lfeine Can you also please check the PDF functionality for the notebook and give Christian any feedback before Monday? Thanks, Martin

[2019-09-19 08:18] christian-bernet commented on #38
thanks. Yes, we can fix that at Monday.

[2019-09-19 08:18] martindusinberre commented on #51
I played this today and it was fine. I'll close it for the time being.

[2019-09-19 08:18] #51 closed

[2019-09-19 08:20] martindusinberre commented on #13
@lfeine @Helena-LiT Can you please check this as well? But I think it is fine. If you're happy with it too, please close the issue on Friday.

[2019-09-19 08:22] christian-bernet commented on #28
OK. Nemanja will check that also on Monday.

[2019-09-19 08:48] martindusinberre commented on #7
@lfeine @Helena-LiT Please check this, but I think it is fixed. If you're happy, please close the issue on Friday.

[2019-09-19 09:00] martindusinberre opened #60 "Right-hand margins in Notebook PDF"
This comes out of #38, which I have now closed. The basic problem is that when I have a long notebook ("Create new note") input, it appears in the Notebook PDF with undefined right-hand margins and layered over the PDF page footer. The example is here with the original notebook entry:
<img width="697" alt="Screen Shot 2019-09-19 at 10 11 32" src="https://user-images.githubusercontent.com/53183999/

[2019-09-19 09:02] martindusinberre commented on #38
As mentioned, I'm going to close this issue now as it's basically done. Minor adjustments to the Notebook download PDF will be ticketed as new issues (e.g. the margins one is now #60)

[2019-09-19 09:02] #38 closed

[2019-09-19 09:03] martindusinberre commented on #17
This is now solved, thanks!

[2019-09-19 09:03] #17 closed

[2019-09-19 09:06] martindusinberre commented on #25
Perhaps it's a problem with safari? @interrogator would you mind trying to see if it's just a browser problem or a bug? Please see my comment from this morning. Thanks

[2019-09-19 09:09] christian-bernet commented on #55
Selected date in date picker is no stored in backend.
If you set a date and come back afterwards to the same calls nothing is saved and also not the stored date is show.

[2019-09-19 09:12] martindusinberre opened #61 "Order of images in Notebook PDF appendix"
The appendix looks great and seems to display images with multiple jpgs. Thanks!
But please look at this PDF (generated in the middle of chapter 4): the images in the appendix appear in a random order, rather than in the order that I played the game. The Strong painting is first, which is fine, but then should come the contract (which incorrectly has the title "Chronicling America general notes",

[2019-09-19 09:16] martindusinberre opened #62 "Find template user licences for frontpage"
(Just as discussed yesterday, Leyla: this is something we can also discuss with Pim and Danny, so please assign to them and me as well when you're ready to discuss something.)

[2019-09-19 09:26] martindusinberre commented on #30
I don't think this is a necessity at this point--it's a desirable, perhaps for post-2020.

[2019-09-19 10:27] martindusinberre commented on #49
Here is the Twitter link:
https://twitter.com/TransitLives
@interrogator can you please add the github link when you have it and then reassign to Christian?

[2019-09-19 12:02] interrogator commented on #25
Scroll when typing and pasting both work OK for me on Linux/Firefox.

[2019-09-19 13:17] martindusinberre commented on #25
OK, great. May be a problem with safari or something else. I'm going to close it for now.

[2019-09-19 13:17] #25 closed

[2019-09-21 19:50] Helena-LiT commented on #7
I think it is fixed, no lingering images any more.

[2019-09-21 19:50] #7 closed

[2019-09-21 20:43] Helena-LiT commented on #13
I no longer see the problem that emails are saved in the notebook in different places and several times, so that issue seems to be resoved.

However, there is still the issue that instead of the email from 2.2.8 the imageComponent from 2.3.1.1 is saved under the notebook entry "Notes on Hall". Is there perhaps something wrong with the way the notebook entry for that page is set up?
2.2.8/notebookE

[2019-09-22 18:21] martindusinberre commented on #13
Thanks, Lena: I think this is a bug. I'll record it as a separate issue and close this one.

[2019-09-22 18:34] martindusinberre commented on #13
Actually I don't think it's a bug--I've pushed some changes to json.

[2019-09-23 06:53] christian-bernet commented on #13
The email reply will be store on that last notebook entry where the user is at that time.
I think otherwise it is confusing for the player if he has it not on the last notebook entry.

[2019-09-23 07:05] martindusinberre commented on #13
Yes, that's fine--thanks.

[2019-09-23 08:25] christian-bernet opened #63 "Info for Daniel how to change frontend"

[2019-09-23 08:36] nemtish commented on #61
should work with: https://github.com/uzh/marugoto/commit/262bc7f4f42bb842b8ed5c8ccb0776f1d99e33b7

[2019-09-23 09:40] nemtish commented on #60
should be fixed with: https://github.com/uzh/marugoto/commit/a14546c82ec57f8caf4b1b43613a25e75c94db99

[2019-09-23 11:49] christian-bernet commented on #28
This situation is because of corrupt content after importing it with the importer. It is not because of wrong .json files. These are ok.
So this is also a result of the unstable importer.

Because this is wasting time for searching a certain bug and fix it, we decided to change the importer to a simple concept like this:
- For **test-system** with flag deletePlayerState = true: insert new topic an

[2019-09-23 12:02] christian-bernet commented on #61
OK. fixed.

[2019-09-23 12:02] christian-bernet commented on #60
Works. fixed.

[2019-09-23 12:45] interrogator opened #64 "Thoughts about timers and countdowns"
Please note that this is a content only issue, not code. Mostly for @martindusinberre @Helena-LiT . And it's just food for thought.

I am just thinking about the genre of Plantation Lives. It occurs to me that timed elements of the game, where the user has to rush to do something, might actually be a violation of a principle of text adventure games. This game is obviously more than simple text adv

[2019-09-23 12:48] interrogator opened #65 "Simplifying functionality at known weak spots"
As discussed 23/9/19, Chapter 1 of Plantation Lives contains some fairly advanced functionality that seems to be a bit error prone when multiple things are going on (esp. timed dialog while using notebook/email, or something equally complex). The features are all nice, and in an ideal world we have them working in the game. But by current cost/benefit analysis, getting these features working flawl

[2019-09-23 13:00] interrogator opened #66 "Bug Bounty!"
When we release the first version of the game, there will be bugs, and ideally, we want our users to report them to us so that we can fix them.

So, during the first release, we should make it clear on both main and game pages that this is beta and bugs can happen. To encourage users to report bugs, I'd also suggest a fun little game, the intent of which can be stated on the main page of the game

[2019-09-23 13:02] interrogator opened #67 "Test crazy user behaviour"
Often, it is hard to manually test your code, because you tend to use it in the way it was designed to be used. However, actual users will do all kinds of things you don't expect.

Recently I found that during chapter 1, if I clicked various buttons as quickly as possible, I could get myself into weird states like split screen, from which it was difficult to recover. Reproducing this isn't always

[2019-09-23 13:20] l0rb commented on #64
I do agree that time based events feel out of place for the genre. They also do inhibit self-pacing of the player/learner. A possible compromise would remove all effects of timers on the game-world and progress in the game. There could still be timers but if a player runs out of time they can still finish the task with the consequences only affecting things that are irrelevant to the game per se.

[2019-09-23 13:28] interrogator commented on #64
For context, @l0rb is a friend and former colleague of mine. I reached out to him to test the game because he is a tremendously bright young man, a gamer, and a big fan of open source. Welcome @l0rb.

[2019-09-23 14:46] martindusinberre commented on #65
Good, I'll work on this after we've got a trailer, and will make sure that the trailer is less complex in its first pages. Thanks, Danny.

[2019-09-23 14:55] martindusinberre commented on #64
Great, many thanks.
The rationale for the timing function is two-fold:
i) it actually replicates a big reality of being an academic (not just a historian).
ii) in this particular module (Plantation Lives), it's a way of the player understanding viscerally one of the biggest elements of being a plantation worker, namely the unbending new time regimes at work on the plantation. In this way, it's a s

[2019-09-23 14:56] martindusinberre commented on #61
@lfeine Could you please check this and then close it? Thanks, Martin

[2019-09-23 14:57] martindusinberre commented on #60
@lfeine Could you please check this and then close it? Cheers, Martin

[2019-09-23 16:15] interrogator commented on #64
Great discussion, team. It's good to hear that players enjoy the time-critical components, evene if that's a bit contra to my intutions! But yes, having these time constraints is definitely something that differentiates PL from classic text-adventure games (i.e. [Colossal Cave](https://en.wikipedia.org/wiki/Colossal_Cave_Adventure) or other world-exploration games).

The compromise here is reasona

[2019-09-23 16:18] martindusinberre commented on #64
Good, do let's keep monitoring this. Thanks so much again for your inputs.
@l0rb please feel free to join us on other stuff, and follow us also on Twitter :) @TransitLives

[2019-09-24 07:09] Helena-LiT commented on #64
This is not how I remember the players's reactions to the timinig functionality. I have checked our feedback data for the Basel workshop and the first student usability test - the experience was mostly negative. In Basel (ca. 10 testers) there were 3 users who marked it as a negative and only one who liked it; in Zurich (10 testers) there were also 4 users who complained about how the game handles

[2019-09-24 08:00] interrogator commented on #64
Wow, nice to have some concrete user data, that definitely helps! I guess we can ultimately do something like summarise some tips for game creation for people wishing to make games. There we could make a note about the pros and cons of time pressure...

[2019-09-24 08:01] martindusinberre commented on #64
I was going by the great chart @Helena-LiT  developed which responded to how people felt about playing in November 2017, in which issues 03, 04, 05, 06 and 07 all referenced the reality of playing the game--and I take time (perhaps mistakenly) to be a key aspect of this.
We also made the decision to make time a bigger part of Plantation Lives than other modules exactly in order to deal with (ii) a

[2019-09-24 08:42] zlaxi commented on #56
https://github.com/uzh/marugoto-frontend/commit/d7d8761603d48432fc2cd13bf69e65a0d17ad2ce

[2019-09-24 08:43] zlaxi commented on #55
https://github.com/uzh/marugoto-frontend/commit/d7d8761603d48432fc2cd13bf69e65a0d17ad2ce

[2019-09-24 09:17] christian-bernet commented on #46
1 hour.

[2019-09-24 11:50] zlaxi commented on #46
https://github.com/uzh/marugoto-frontend/commit/39a7adcc656c0ac98a5dc27070857a929696ae24

[2019-09-24 14:10] zlaxi commented on #24
https://github.com/uzh/marugoto-frontend/commit/95030d99f3959a4008185196dad3fdd0304b21a0

[2019-09-24 14:28] christian-bernet commented on #63
he needs to change text on the login page for example "Welcome to Lives in Transit!"

[2019-09-24 14:37] zlaxi commented on #63
File for edit can be found under:
src -> components -> 04_pages -> LoginView

[2019-09-24 14:48] zlaxi commented on #49
https://github.com/uzh/marugoto-frontend/commit/15ba98e3457438b66bdfdaa3f21a4d466ef2eb6d

[2019-09-25 09:24] zlaxi commented on #5
https://github.com/uzh/marugoto-frontend/commit/6aecf7c8c44879e89fc834e99a30293890373af7

[2019-09-25 09:24] zlaxi commented on #53
https://github.com/uzh/marugoto-frontend/commit/6aecf7c8c44879e89fc834e99a30293890373af7

[2019-09-25 10:10] interrogator commented on #63
Thanks, will give this a try soon and close when successful :P

[2019-09-25 11:13] zlaxi commented on #47
https://github.com/uzh/marugoto-frontend/commit/c83ba7c1482fdf9c13f363c8bf5fa6efb9fb627e

[2019-09-26 09:17] christian-bernet commented on #37
This should be not possible any more, because of the changes of https://github.com/uzh/marugoto/issues/46

[2019-09-26 09:19] christian-bernet commented on #59
ok. works.

[2019-09-26 09:25] christian-bernet commented on #46
bug on Text Exercise functional testing -contains-page7 in test topic!

[2019-09-26 09:27] christian-bernet commented on #56
update is not done when it is date 1.1.2019 for example. But that is also right.

[2019-09-26 09:58] christian-bernet commented on #56
ok. fixed in backend with c3f54edf868182989eb3f278ec51e83b492c626a

[2019-09-26 10:02] christian-bernet commented on #55
ok. that works.

[2019-09-26 10:06] christian-bernet commented on #46
button in dialog should be also disabled after click. I think we forgot that one.

[2019-09-26 10:08] christian-bernet commented on #53
ok. that one is definitely fixed. I will close this issue.

[2019-09-26 10:08] #53 closed

[2019-09-26 10:10] christian-bernet commented on #49
ok. done.

[2019-09-26 10:11] christian-bernet commented on #47
only icon is placed. back functionality not touched.

[2019-09-26 10:14] christian-bernet commented on #24
ok. now.

[2019-09-26 10:17] christian-bernet commented on #5
Ok. that is fixed now. I renounce to test every situation where it was occurred.
Let's report any new situation again here. But the big hope is here, that it will not appear any more. :-)

[2019-09-26 10:52] christian-bernet commented on #36
should also be fixed with #46

[2019-09-26 11:37] christian-bernet commented on #28
that is still open. If you do a second import it still creates two mails!
This is an importer bug. I will check that after my vacation.

[2019-09-26 11:38] christian-bernet commented on #21
should be better now.
We changed the importer to a simple concept.
@pim can you please build the new images for the importer, so that we have the new code place? many thanks.

[2019-09-26 11:45] christian-bernet opened #68 "defaultText is not shown for the component TextExercise"
since we fixed the scroll issue for the TextExercise.
Please fix that. Thanks!

[2019-09-26 11:46] christian-bernet commented on #46
Ok. That works now also.

[2019-09-26 12:00] martindusinberre commented on #46
@lfeine @Helena-LiT  Please test this now.

[2019-09-26 12:03] martindusinberre commented on #24
@interrogator @witlox could you please check this on a dodgy internet connection and close if you're happy?

[2019-09-26 12:06] martindusinberre commented on #46
I will close #36 in the meantime. If there's still a problem, please reopen #36 too.

[2019-09-26 12:07] martindusinberre commented on #36
I'm closing this as @witlox @lfeine @Helena-LiT are checking #46
Please reopen if there still is a problem with #46

[2019-09-26 12:07] #36 closed

[2019-09-26 12:12] martindusinberre commented on #56
@lfeine could you check this please? Please close if you're happy.

[2019-09-26 12:15] martindusinberre commented on #47
I'm happy with this.

[2019-09-26 12:15] #47 closed

[2019-09-26 12:17] martindusinberre commented on #49
Great, will close this now.

[2019-09-26 12:17] #49 closed

[2019-09-26 12:19] martindusinberre commented on #46
And I'm closing #37 too. Please check that the page transition on 2.4.5.1.1.2 is working and reopen #37 if not.

[2019-09-26 12:19] martindusinberre commented on #37
I'll close this because we are testing #46

[2019-09-26 12:22] martindusinberre commented on #5
I'll close this for the time being, but if the bug reoccurs, please note exactly where.

[2019-09-26 12:22] #5 closed

[2019-09-26 12:25] martindusinberre commented on #55
@Helena-LiT This is an important one. Could you please check it carefully and close if you're happy? Thanks.

[2019-09-26 12:47] martindusinberre commented on #13
@Helena-LiT Could you possibly check this again now that I've pushed some changes to the json files? I'm sure it's not a bug but rather an input mistake from my side. Thanks, martin

[2019-09-27 08:10] lfeine commented on #56
Date picker is removed correctly, however the input fields are misaligned. This makes it unclear which label belongs to which input field.
This seems to occur on all window width available on my laptop, as well as on Chrome and Firefox.
<img width="614" alt="Screenshot 2019-09-27 at 10 08 02" src="https://user-images.githubusercontent.com/54706676/65753204-c9074780-e10e-11e9-8969-e9ffe888ad27.png"

[2019-09-27 08:33] #59 closed

[2019-09-27 09:25] martindusinberre opened #69 "Feedback so far on Trailer (in OurTestTopic)"
@witlox @interrogator @Helena-LiT @lfeine I'm ready for a bit of feedback on the trailer as you have it so far. It's incomplete, but before I spend a lot more time building it, would be glad for feedback on the feel, the variety of exercises etc. All comments most welcome!
(Please imagine playing it at trailer speed, rather than going through as quickly as possible to the end!)

[2019-09-29 13:51] martindusinberre opened #70 "Can't transition from 2.4.1.3.1.1HSA"
This problem occurred when I was playing today. The continue button is visible but we don't transition to 2.4.1.3.1.2 when I press it.

[2019-09-29 13:55] martindusinberre commented on #70
Now the transition is working. Is this connected to #46?

[2019-09-29 13:55] martindusinberre commented on #46
Is this related to #70 too?

[2019-09-30 04:56] #70 closed

[2019-09-30 04:57] martindusinberre commented on #46
@witlox @interrogator I'm not convinced this is fixed: I had problems transitioning off pages yesterday even though I had a pretty good internet connection and wasn't playing particularly fast. (hence the #70, which I've now closed because I don't think it's a bug.) Can you advise what could be done?

[2019-09-30 17:50] #13 closed

[2019-09-30 18:49] Helena-LiT commented on #46
I had problems transitioning off pages last week, but I think this was only temporary and due to updates being done while I was playing or something of the sort. I especially had problems with pages that had timed dialogues (like 2.4.1.3.1.2 and 2.4.1.3.1.4) but all of that seems to be solved now. Anyway, this issue is not something that I can actively test, since I cannot know when updates are be

[2019-09-30 18:56] Helena-LiT commented on #37
This still does not work. I can not trasition off this page. It only affects page transitions from HSA, when you visit it on day 5 so I compared the json here with the other HSA pages. It seems that there is a little mistake in the transition json on that page:
`{
  "id": null,
  "from": null,
  "to": "chapter4/2.4.5.1.1.3/page.json",
  "buttonText": "Continue",
  "time": {
    "time": 0
  },
  "m

[2019-09-30 20:02] Helena-LiT commented on #55
All these features seem to work correctly: the date picker, editing class name and description; the link works; downloading the student notebook works (also when the game is unfinished). The only thing that startled me is that the students are not directed to any particular topic but are allowed to choose to play whatever they want. This seems a bit unusual for a class setting. However, the teache

[2019-09-30 20:02] #55 closed

[2019-10-02 09:31] martindusinberre commented on #37
Great, good spot, Lena. I've corrected the pageTransition1.json for 2.4.5.1.1.2. Could you test it again? I've created a temporary shortcut to 2.4.5.1.1.1 to speed things up... If it seems solved, then please close the issue.

[2019-10-09 20:22] martindusinberre opened #71 "Email notification behind imageComponent"
In 1.1.3 and 1.1.4 of OurTestTopic, an email notification comes in while the player is on the page. Currently, the notification comes *behind* the imageComponent (which is wide here--8 columns). Shouldn't the email notification come *in front of* the image?

[2019-10-09 20:25] martindusinberre opened #72 "uploadExercise component not showing in Notebook"
In OurTestTopic 1.1.7.2.1, I have included an uploadExercise json file. The frontend display is good and the upload itself seems to be registered, but if it's an image file it doesn't display properly in the notebook, nor in the downloaded PDF. Is this something that can be fixed quite quickly or does it involve more time-consuming development?
Connected to this: if you do end up doing more develo

[2019-10-09 20:35] martindusinberre opened #73 "Italics in a textComponent don't become italics in the PDF notebook download"
The example here is 1.1.7.2.3 (OurTestTopic). textComponent2 is saved to Notebook--and that functionality all works well. But when the notebook is downloaded, the italics (Warren, *Ah Ku and Karayuki-san*) don't appear as italics but as normal text with asterisks either side of them.

[2019-10-09 20:53] martindusinberre opened #74 "textComponents saved to notebook and downloaded as PDF"
When a textComponent saves to notebook (e.g. OurTestTopic 1.1.7.2.1), the layout is fine. When the notebook is downloaded as a PDF, the text is both left *and* right-justified. Is it possible for the textComponent only to be *left*-justified?
(for reference, please see the way that the players' "Add note" inputs are saved to the PDF: they are only left-justified, too).
And, assuming this is possib

[2019-10-09 20:55] martindusinberre commented on #72
If this is a lot of work to fix, the work-around would be that we simply don't use the uploadExercise functionality. But that seems a bit of a pity after you've developed it. We can talk about this if it's easier.

[2019-10-10 06:42] nemtish commented on #74
Hi @martindusinberre, this is easy fix..Text in PDF will be left aligned

[2019-10-10 06:48] nemtish commented on #71
Notification should always be in front otherwise doesn't make sense..Someone will check this

[2019-10-13 15:35] Helena-LiT commented on #37
It works now.

[2019-10-13 15:35] #37 closed

[2019-10-14 13:24] christian-bernet commented on #46
Just to clarify:
We have different problems that are discussed in this issue.

**first thing**
First thing we have, is that if you click multiple times for example on a page transition and that resulted in multiple status updates in the backend.
I tested it today again at it still gives two request on https://marugoto.s3it.uzh.ch at page xyz.

![image](https://user-images.githubusercontent.com/410

[2019-10-14 14:24] christian-bernet commented on #56
this is on the pages 2.4.3.1.2.2 (or 2.4.4.1.2.2 or 2.4.5.1.2.2)

[2019-10-14 14:36] christian-bernet commented on #71
![image](https://user-images.githubusercontent.com/41006947/66759521-b3c94180-eea0-11e9-8d21-61fa8a65da66.png)

@zlaxi please fix that, its on page Tsuneno from Echigo Province of the "Our Test Topic"

[2019-10-14 14:58] christian-bernet commented on #72
The idea from me was to handle all the uploaded files the same way.
So in the notebook you see the name of the file and if you download the zip from the game state you get this files too.

so, what we can easily can is:
- change name to "My Upload" in Notebook and Notebook PDF (add My Upload: before the filename)
- from the notebook we can link the icon so that the uploaded file can be opened.

[2019-10-14 15:23] christian-bernet commented on #56
@zlaxi can you please check that.
As I see there are 10 columns used and 1 offset at the left. So that should be ok from the content side.

[2019-10-15 06:27] christian-bernet commented on #74
done with a1ca83968504bfd2bf41a3960f106b220e89aebc

[2019-10-15 06:28] christian-bernet commented on #74
done with: a1ca8396

[2019-10-15 07:11] martindusinberre commented on #72
Hi Christian: OK, so if you download the PDF of the Notebook you'll see the uploaded file in the Appendix, for example? I'm just wondering if we have a problem if a player uploads, say, a 40-page PDF file. What do you think? Should we add a note saying "images only"? Or leave it entirely free? Do we have an upper limit (eg 3MB) for files? What do you think?

[2019-10-15 07:36] interrogator commented on #72
Recommend you just get it working for one format and max size (JPG under 2mb) or whatever, and then specify the constraint. It's very hard to get all kinds of formats displaying correctly, when you don't know even know what they could be!

[2019-10-15 09:16] christian-bernet commented on #73
Use this to convert the textnode;
https://itextpdf.com/en/resources/books/itext-7-converting-html-pdf-pdfhtml/chapter-1-hello-html-pdf

[2019-10-15 11:00] zlaxi commented on #71
https://github.com/uzh/marugoto-frontend/commit/ee8bcdd4b279b0c7252e531ca8ba75d5ac9488c5

[2019-10-15 11:03] zlaxi commented on #68
https://github.com/uzh/marugoto-frontend/commit/75631865dc90086a6775ed491a0e3ae00adf87a0

[2019-10-15 13:06] christian-bernet commented on #56
added label to DateExercise: Backend a7570527

[2019-10-15 13:09] christian-bernet commented on #56
@interrogator can you please change the validator
the dateExercise needs now an attribute "label" which can be null or a string.

Example for dateExercise
{
  "id": null,
  "numberOfColumns": 3,
  "offsetColumns": 0,
  "renderOrder": 10,
  "showInNotebook": true,
  "showInNotebookAt": "pageExit",
  "page": null,
  "label": "Please enter the date:",
  "solution": {
    "correctDate": "03.01.1886"

[2019-10-15 13:15] christian-bernet commented on #68
ok. fixed

[2019-10-15 13:28] christian-bernet commented on #71
ok.

[2019-10-15 13:33] christian-bernet commented on #72
PDF changed Label to "My Upload:" before file name!

[2019-10-15 14:14] christian-bernet commented on #72
@martindusinberre we do not have the time to link the icon in the notebook. but the rest will be done.

[2019-10-15 14:32] christian-bernet commented on #21
containers where updated by pim right now.

[2019-10-15 14:36] christian-bernet commented on #28
can not reproduce it locally any more at this time. But importer needs still a bit of code changes.

[2019-10-15 15:45] martindusinberre commented on #74
@lfeine Please could you check this and close the issue? Thanks, Martin

[2019-10-15 15:47] martindusinberre commented on #71
@lfeine please could you check this and then close it? (It's only relevant at this point to the OurTestTopic. Thanks, Martin

[2019-10-16 10:15] lfeine opened #75 "Host all fonts on our servers"
Due to privacy concerns, it would be better to host all of our fonts on our servers rather than accessing them through google fonts.
We've checked and the fonts we currently use should all be open and available.

[2019-10-17 10:48] martindusinberre commented on #72
@christian-bernet Thanks for the update. When do you think the changes will be finished? (It just depends whether I include this functionality in our "trailer" demo)
And just to confirm: this means that the player will see an icon in their notebook that they have uploaded a file (under "My Upload"), but *no* link from the icon. And then, when they download the Zip folder with their notebook at the

[2019-10-17 11:19] christian-bernet commented on #72
yes. Exactly. That is already done and works like this.
Only to change the label is open. And we will do that on Monday.

[2019-10-17 12:15] martindusinberre commented on #72
Perfect, thanks for the update.

[2019-10-18 13:42] christian-bernet commented on #28
Title of page 2.2.1 is "Chapter 2/5: Back home"

[2019-10-18 14:18] christian-bernet commented on #54
The point here is, that these json files are directly connected to the graph model we have in the application. These means, that if we change something in the json files we touch the business logic of the application. If the business logic works with a certain attribute it is not only to change the model you also have to change the business logic.

So now we can ask, why you connect these json dir

[2019-10-19 04:21] lfeine commented on #71
Tested on Firefox and Chrome, fix successful.

[2019-10-19 04:21] #71 closed

[2019-10-19 04:30] lfeine commented on #74
Tested, text is now left-aligned.

[2019-10-19 04:30] #74 closed

[2019-10-19 04:46] lfeine commented on #61
Tested, they are in the right order in my PDF as far as I can tell.
[Leyla Feiner.pdf](https://github.com/uzh/marugoto/files/3746216/Leyla.Feiner.pdf)

[2019-10-19 04:46] #61 closed

[2019-10-19 04:53] lfeine commented on #60
Doesn't occur in my notebook anymore.
[Leyla Feiner2.pdf](https://github.com/uzh/marugoto/files/3746219/Leyla.Feiner2.pdf)

[2019-10-19 04:53] #60 closed

[2019-10-21 06:49] martindusinberre opened #76 "user.firstName etc functionality not working on one page"
This is a strange one: in the OurTestTopic, user.firstName and user.lastName work well everywhere *except* on 1.1.7.1.1 testComponent1.json.
To solve the problem, I tried copy-pasting them in from a json file where they were working fine, but this hasn't changed the frontend view.
Is this a bug?

[2019-10-21 07:39] zlaxi commented on #56
https://github.com/uzh/marugoto-frontend/commit/795a1ad5182d7efb56cb072f6fa731e7434d8a7a

[2019-10-21 08:44] martindusinberre opened #77 "hyperlinks not working in imageComponents or videoComponents captions"
This arises from my successfully embedding a hyperlink in 1.1.7.1.3 and 1.1.7.2.6 respectively (the link is to our Twitter page). In other words, the embedded hyperlink works fine in a textComponent json file.
But when I use exactly the same string to embed a hyperlink in the caption of an imageComponent or a videoComponent, it doesn't work. Please check OurTestTopic 1.1.3 and 1.1.4 to see what I

[2019-10-21 08:44] martindusinberre commented on #75
@lfeine Great. Can you assign this to someone or is this something you can do yourself?

[2019-10-21 09:33] christian-bernet commented on #72
Both label are now updated.

[2019-10-21 09:54] christian-bernet commented on #56
OK. that is fixed now.
@martindusinberre please use the new label of the dateExercise to add a description for a dateExercise and not an other TextComponent.

![image](https://user-images.githubusercontent.com/41006947/67195630-9133ad00-f3f9-11e9-8b18-2265aab51ca4.png)

[2019-10-21 11:02] christian-bernet commented on #46
I tested it today again and I can not reproduce it i a static way. I only have it once today in firefox.
So we leave it as it is now

[2019-10-21 11:08] christian-bernet commented on #77
In caption of imageComponent and videoComponent it is not possible to place text with markdown.
This is only possible for the TextComponent.

[2019-10-21 11:31] martindusinberre commented on #77
OK, got it.

[2019-10-21 11:47] #68 closed

[2019-10-21 11:49] martindusinberre commented on #56
Great, got it. Many thanks.

[2019-10-21 11:58] martindusinberre opened #78 "Migration to Production System preparation (UZH team)"
This is for the UZH team: we need to go down a checklist and make sure that everything is ready for migration to Production System. Please do the tasks in the following order; once you've done yours, please reassign to the next person on the list:
@lfeine Please do a final check on the data protection text we discussed the other day. If you're happy with it, please send to Pim and reassign this ta

[2019-10-21 12:02] martindusinberre commented on #54
Thanks, @christian-bernet
@interrogator Is this good enough for you? If so, please close the issue. Or let Christian know if you need more documentation.

[2019-10-21 12:05] martindusinberre commented on #34
We have decided to make this a non-priority for the current project. The work-around is to have transcription exercises with big imageComponents (ie column width 8 and offset 2), and then the textExercise component directly below them. I will adjust PlantationLives accordingly after the demo topic is finished.

[2019-10-21 12:06] martindusinberre opened #79 "Adjust PlantationLives components"
Rewrite the content for json files in order to incorporate the solutions for #34 and #56

[2019-10-21 12:07] #56 closed

[2019-10-21 12:09] martindusinberre commented on #46
Great, thank you.

[2019-10-21 12:09] #46 closed

[2019-10-21 12:12] martindusinberre commented on #72
@christian-bernet May I just check: when I downloaded an uploaded .jpg file at the end of playing the OurTestTopic, it gave the file name jpg.pdf
It seems, therefore, as if all files in the zip folder are being converted to PDFs when they are downloaded.
So the question: does this mean that anyone uploading, say, an mp3 file would not be able to hear it in the zip folder?
--> is it possible for up

[2019-10-21 12:14] martindusinberre commented on #72
Just for your reference:
<img width="806" alt="Screen Shot 2019-10-21 at 14 13 21" src="https://user-images.githubusercontent.com/53183999/67204097-052b8080-f40d-11e9-8201-9e504dd37cbb.png">
And, with the file extension jpg.pdf, I was actually unable to open the uploaded file.

[2019-10-21 12:57] christian-bernet commented on #72
I think, that is a bug. I will change that.

[2019-10-21 13:10] christian-bernet commented on #72
fixed with: d1c58fbc

[2019-10-21 13:50] martindusinberre commented on #76
OK, got it.

[2019-10-24 10:24] martindusinberre opened #80 "numberOfColumns for textComponent"
In 1.0.0 textComponent1.json, I have set
"numberOfColumns": 10,
  "offsetColumns": 1,
But on the frontend, this component has the same margin as textComponent2.json, which has a different setting:
"numberOfColumns": 8,
  "offsetColumns": 2,
textComponents3 and 4 have numberOfColumns = 8 as well, as do checkboxExercise1,2 and 3

This is the same problem for 1.1.7.2.3 textComponent1.json, which has:

[2019-10-24 10:25] martindusinberre commented on #80
Here's the screenshot for 1.0.0 with the margins the same even though the numberOfColumns is different
<img width="1168" alt="Screen Shot 2019-10-24 at 12 23 48" src="https://user-images.githubusercontent.com/53183999/67476954-54fe8780-f659-11e9-8231-bc6210b78c5f.png">

[2019-10-24 14:19] witlox opened #81 "account verification"
enable recaptcha type verification on account creation

[2019-10-24 14:21] witlox commented on #58
the idea is that a configuration option exists to enable/disable shibboleth on the frontend

[2019-10-25 14:29] #62 closed

[2019-10-28 07:27] christian-bernet commented on #73
Reviewed new Version:
- HandlebarHelper: line 177 (renderUploadExercise): upload-name is wrong generated: if fixed that in the old version. please fix it!

[2019-10-28 08:39] christian-bernet opened #82 "download finished topic in game screen"
you get a wrong notebook if you download zip of different games

[2019-10-28 09:01] christian-bernet commented on #82
It is also for open games the case!

[2019-10-28 09:15] martindusinberre commented on #21
@christian-bernet Can you please give us a bit of help on something that happened on Friday afternoon? I was in OurTestTopic and I wanted to see if a functionality worked in checkboxExercise. So I changed one value ("minimum" to "maximum") and pushed a change. The log told me that the import hadn't worked so I concluded that it's not possible to have a "maximum" value. (That's fine--I just wanted

[2019-10-28 10:40] martindusinberre commented on #81
This needs to be done this week if we're going to have the trailer/demo on the livesintransit URL by Thursday 7th (which will give us a week to sort out problems before it really needs to be completely functional for external users).

[2019-10-28 11:15] nemtish commented on #82
fix - https://github.com/uzh/marugoto/commit/1b719c15fc23cf4931014dd9b7137d7b0ed97926

[2019-10-28 11:15] nemtish commented on #73
fix - https://github.com/uzh/marugoto/commit/1b719c15fc23cf4931014dd9b7137d7b0ed97926

[2019-10-28 13:09] christian-bernet commented on #21
@martindusinberre
I think the importer was broken and after the steps in the wiki it should run again.
https://github.com/uzh/marugoto/wiki/Infrastructure
This does not happens on a specific situation. It has nothing to do with your changes.

As I see, the import is still broken for the test topic.
I think it would be best, that Pim and or Daniel can have a look of how we can clean it up, so that

[2019-10-28 13:15] martindusinberre opened #83 "LogIn page text edits"
@interrogator @witlox
As the first step to getting the LogIn page ready for going live, please make the changes listed in the attached Word document. Many thanks, Martin
[LogInPage_28Oct19.docx](https://github.com/uzh/marugoto/files/3778786/LogInPage_28Oct19.docx)

[2019-10-28 13:18] christian-bernet commented on #82
ok. fixed.

[2019-10-28 13:19] #82 closed

[2019-10-28 13:19] martindusinberre commented on #21
@christian-bernet That would be perfect, great. Can you please amend this issue to a "bug" and assign also to Danny? Many thanks, Martin
(PS: if you are all working on the importer / testtopic, could you at the same time create a new testtopic environment for Lena to start directly importing her own storyline content?)

[2019-10-28 13:22] christian-bernet commented on #73
Ok. both fixed.
And also italic (markup content) works in pdf.

@martindusinberre this is fixed.
We had to rewrite the pdf generation for that. So please review the notebook pdf again completely, so that we are sure that everything is on the right place.

[2019-10-28 13:28] christian-bernet commented on #21
For me this Wednesday would work best, to do that.

[2019-10-28 15:48] interrogator commented on #45
@lfeine I can add it, but don't know what the text is. Please add it here, ideally as HTML but plain text with links at bottom OK too

[2019-10-29 10:26] interrogator opened #84 "Multiple selections allowed on first page of trailer"
You are told you can only select one, but that's not true right now. Is there a fix by JSON possible? @martindusinberre

[2019-10-29 10:32] interrogator opened #85 "Initial multiple choice questions --- in character or not?"
When doing the initial multiple choice in trailer, I had no idea if I was answering honestly or as some character. Can this be clarified in the text? I didn't know if user experience survey or character building...

[2019-10-29 10:37] lfeine commented on #45
Sorry, I've sent it directly to Pim! Here's the text (it's a txt file but contained within should be valid HTML I've written up)
[TOS.txt](https://github.com/uzh/marugoto/files/3783083/TOS.txt)

[2019-10-29 10:58] martindusinberre commented on #83
Here are some more edits to be made to the first page (and also second and third pages). The text to be added is in yellow (the non-yellow text is the same as that which I sent yesterday).
Thanks, Martin
[LogInPage_29Oct19.docx](https://github.com/uzh/marugoto/files/3783175/LogInPage_29Oct19.docx)

[2019-10-29 11:00] martindusinberre opened #86 "manual import of Trailer: Defining Work"
@witlox @interrogator I've just pushed a set of changes on Atom/git. Please do a manual import now/whenever you have time and then please close this issue. Thanks, Martin

[2019-10-29 11:24] interrogator opened #87 "Deleting 'open games'?"
I have dozens, and would love to be able to hit an X, confirm, and they are gone forever...

[2019-10-29 13:23] martindusinberre commented on #85
Yes, I'm working on this with Leyla now and also shortly with a psychologist colleague! Will hope to rewrite by Thursday (am on the train all day to Portugal tomorrow)

[2019-10-29 13:25] martindusinberre commented on #84
@interrogator I think not: this is what Lena and I were trying last week, namely whether it was possible to put "maximum" and "1" as the value for a checkbox exercise instead of "minimum". But the answer is no... I may be able to rewrite the questions, or we may be able to turn them into radiobuttons and have 3 pages (1 question per page) rather than all the questions on a single page.

[2019-10-29 13:32] martindusinberre commented on #84
OK, the way around it is multiple pageTransitions (as used a lot in day 4 of PlantationLives): click on one and you have a page transition. (The fact that the pages lead to the same is irrelevant: the player doesn't know that.)

[2019-10-29 21:40] martindusinberre commented on #87
@christian-bernet Is this possible? I can't remember whether this was something we discussed. Certainly, as I remember, it's possible to wipe them from the backend. But perhaps not from the frontend?

[2019-10-29 21:41] martindusinberre commented on #86
Hi @witlox @interrogator I have just pushed some more changes, so would be grateful if you could do a manual import on Wednesday so that I can play again on Thursday. Thanks, Martin

[2019-10-29 21:44] martindusinberre commented on #85
Hope we have got closer to dealing with this problem with the latest push.

[2019-10-29 21:44] #85 closed

[2019-10-29 21:45] martindusinberre commented on #84
We've worked around this with multiple pageTransition.json files instead (which also replicates the choice mechanism the player will experience in chapter 4 of Plantation Lives). Please see the latest push I've just made.

[2019-10-29 21:45] #84 closed

[2019-10-30 09:50] christian-bernet commented on #87
That is not possible. Also wipe them from the backend is not possible.

[2019-10-30 09:51] interrogator commented on #83
Done in https://github.com/uzh/marugoto-frontend/pull/3

[2019-10-30 09:54] interrogator commented on #87
Add `x` button to `display=none` the row and store which games are 'shown' in db? Surely others have bumped into issue of having many many open games and no idea which is which

[2019-10-30 09:56] christian-bernet commented on #21
update https://github.com/uzh/marugoto/wiki/Content-Importer-Concept

[2019-10-30 15:44] christian-bernet commented on #21
e433c9c4

[2019-10-30 15:55] christian-bernet commented on #21
Let us see if there will be some problem in the next weeks with this simplified version of the importer. I will leave this issue open until we know more.

[2019-10-31 07:22] zlaxi commented on #80
https://github.com/uzh/marugoto-frontend/commit/a28913630376f859a42ee778b635d6b2d0542699

[2019-10-31 14:46] witlox commented on #81
feature is in

[2019-10-31 14:46] #81 closed

[2019-10-31 15:08] interrogator commented on #81
Good work team 🔥💐💪

[2019-10-31 15:09] martindusinberre commented on #83
@witlox @interrogator  This isn't appearing so I'm reopening it.

[2019-10-31 15:22] witlox commented on #83
this time we also need to do the textual changes, not just content

[2019-10-31 16:49] #58 closed

[2019-10-31 17:22] interrogator opened #88 "Getting back to 'Welcome'/'Main' page once logged in?"
When not logged in, all is well. And now, when logged in, there is a nice 'Home' link in the bottom right, but when I click that, currently it takes me to `Your games`, when I expected it'd take me to the main page. This isn't terrible --- when you're logged into facebook for example, navigating 'home' or to `facebook.com` is to your wall, not to the facebook un-logged-in page.

But in our case, t

[2019-10-31 17:33] interrogator commented on #83
@witlox is this fixed by https://github.com/uzh/marugoto-frontend/commit/dde111a3fce2822efb8cc082f257a36664540502 ? close if so.

I'm looking at the docx, everything specified seems merged. I'm currently making sure hrefs get underlined, but that's not in scope of this issue

[2019-10-31 17:44] interrogator opened #89 "href styling currently has no underline?"
In `reset.scss`, there is:

[code]

which stops underlining of the hyperlinks in the main page templates.

[Here](https://github.com/uzh/marugoto-frontend/pull/8) I'm adding a `underlined` class that gets `text-decoration: underline` so I don't mess with any existing styling. But can someone please let me know if there is a simple way to have underlined hrefs without the new class/css?

[2019-11-01 07:52] martindusinberre commented on #88
@interrogator Thanks for all these comments. I'll take them one by one:

- I'm happy that the newly developed "home" icon takes the player back to "Your Games". I've amended the texts both for "Your Games" and for "Topic Selection" to address exactly the problem you have identified in terms of relative lack of information on these pages, but the textual changes I asked for (see the Word file on #8

[2019-11-01 07:54] martindusinberre commented on #87
@interrogator Is this something that you could change fairly easily?

[2019-11-01 07:56] martindusinberre commented on #75
@lfeine This still hasn't been assigned, so I've kicked it back to you and included Danny, as probably he will be in charge of making sure the fonts are on the servers.

[2019-11-01 07:58] martindusinberre commented on #67
I'm going to close for the time being because I (hope) the issue isn't a problem for the time being...

[2019-11-01 07:58] #67 closed

[2019-11-01 08:02] martindusinberre commented on #83
@interrogator the front page is now updated--thanks. But the text I asked for on both the "My Games" and "Topic Selection" page is still not updated (see also my discussion in #88). Is this an update problem or did you forget to input the changes?

[2019-11-01 08:45] martindusinberre commented on #83
@interrogator To avoid problems with desired textual changes in the future, I'll just cut and paste the relevant texts here:
This is for the **Your Games** page: please delete the two lines of text we currently have and replace them with this:
This is your Lives in Transit “home” page. You can start your game(s) from here and you can return here at any point by clicking on the “home” icon during g

[2019-11-01 08:46] martindusinberre commented on #83
This is for the **Topic Selection** page: again, please delete the text we have now and replace it with this:
When “Lives in Transit” is launched in spring 2020, there will be a selection of topics for you to choose from here. Until the full launch, you can get a feel for the game by playing through a short extract from the beginning of the topic, “Defining Work”.

[2019-11-01 08:46] martindusinberre commented on #83
Thanks!

[2019-11-01 09:54] interrogator opened #90 "Minor thread 🤘🗒️"
Collection of small bugs and corrections as I see them, for quickfixing

- [x] Standardise quotation marks, bold and italics
- [x] Do we have a quote-like environment for suggested citation? cannot use `<code>` because of hyperlinks
- [x] Change download notebook icon to 'download' text, to match 'continue'
~~Style Your Games more like welcome page~~
- [x] href underlining in welcome pages
- [x] b

[2019-11-01 09:58] interrogator commented on #83
Confusion about this now clarified, I didn't see that there were two docxs. All docx notes are now in master branch I believe.

[2019-11-01 10:39] martindusinberre commented on #83
For the "Citing LiT" tab, please add:
Dusinberre, Martin, and the UZH LiT Team (2020): "Lives in Transit" E-Learning Game, www.livesintransit.org
[or please amend "and the UZH LiT Team" if you find it clunky, but I think we should try and have UZH in there and there obviously needs to be some kind of "team" mention, too.]

[2019-11-01 10:48] martindusinberre commented on #83
Actually, thinking ahead: we might want to refine this:

For overall citing of the Lives in Transit game:
Dusinberre, Martin, and the UZH LiT Team (2020): "Lives in Transit" E-Learning Game, www.livesintransit.org

For citing of specific topics, as follows:
[topic author et al], [topic title], in Dusinberre, Martin, and the UZH LiT Team (2020): "Lives in Transit" E-Learning Game, www.livesintransi

[2019-11-01 10:49] interrogator commented on #83
@lfeine are you a bibtex person? I'd like to have this in bibtex format too ideally...

[2019-11-01 11:10] interrogator commented on #83
Citation info added at https://github.com/uzh/marugoto-frontend/pull/10/files

Closing, bibtex will go into #90

[2019-11-01 11:10] #83 closed

[2019-11-01 13:32] lfeine commented on #90
(replying here from  #83 )
I'm really not familiar with bibtex, unfortunately. If it can wait about a week, I can look into it if you want.

[2019-11-02 14:30] lfeine commented on #73
The italics issue is fixed. I'm currently still reviewing the PDF for any new issues, I will make a separate issue for any new problems that crop up.

[2019-11-02 14:30] #73 closed

[2019-11-03 14:21] interrogator commented on #90
No it's OK @lfeine , I'm sure I will have time at some point to do it! Just thought maybe you'd already be a bibtex person :)

[2019-11-04 12:01] interrogator opened #91 "About page"
# About

## Creating your own content

It's possible to create your own playable topics, simply by writing JSON files that Lives in Transit can import and serve.

Help pages for content development are on our roadmap. For now, however, please get in contact if you'd like to create your own content; we'd love to be able to add it to our site so that is playable by any user.

### Deploying your own

[2019-11-04 12:42] interrogator commented on #29
This took less than 30 seconds. Wonder why never done? Changed here

https://github.com/uzh/marugoto-frontend/commit/7435c775edf58d4431067921bcd06308f7a18de8

[2019-11-04 12:42] #29 closed

[2019-11-04 12:43] interrogator commented on #89
Closing because no response and workaround fix works fine.

[2019-11-04 12:43] #89 closed

[2019-11-04 12:44] #63 closed

[2019-11-04 12:46] interrogator commented on #24
Not an easy thing to test, but closing due to the code being added. Will reopen something if problems aren't fixed by the timeout change...

[2019-11-04 12:46] #24 closed

[2019-11-04 12:47] interrogator commented on #45
OK, these terms have been added to the site, so closing

[2019-11-04 12:47] #45 closed

[2019-11-04 12:49] interrogator commented on #57
Contributor guidelines now will be in About page, close this one

[2019-11-04 12:49] #57 closed

[2019-11-04 12:51] interrogator commented on #91
I will do `Contributor Guidelines`, basically inside a section talking to possible programmers who may want to help out.

[2019-11-04 12:55] interrogator commented on #42
OK decision time for this one, I've added the About tab, can either add another for FAQ or have FAQ inside About. @martindusinberre you can decide!

[2019-11-04 12:56] interrogator commented on #39
Unclear if this ever happened, but since unused I guess I can still remove from the JSON files...

[2019-11-04 12:57] interrogator commented on #39
@martindusinberre this means, remove the entire true/false line for `notebookVisible` in page.json files? It does nothing?

[2019-11-04 13:03] interrogator commented on #87
To do it comprehensively is a fair bit of work ... we could easily add a button to hide in frontend, but they would come back next session unless we store the 'hidden' info in the database. so it means a database update which is a fair bit of work. I suggest we don't worry about this for now, but if there is a future database change, we can also explore deleting/hiding old/dead games.

Can reprior

[2019-11-04 13:07] interrogator commented on #69
One thing I felt wasn't clarified, what happens to the text I wrote that was submitted at game end? Is that actually going to be manually reviewed?! I wasn't sure how the transition to the full game will work --- did my choices here actually affect my next game?!

[2019-11-04 13:11] interrogator commented on #20
Apparently not done and not handed over, so closing. Not a big problem anyway.

[2019-11-04 13:11] #20 closed

[2019-11-04 13:14] martindusinberre commented on #87
Yes, I agree--we are definitely not the normal player profile here. Let's keep it as a desired enhancement--I've relabelled it as such, to make it consistent with other similar issues. Many thanks, Martin

[2019-11-04 13:18] martindusinberre commented on #39
@interrogator yes, we've never used it, partly because the functionality of the notebook is now so much more sophisticated than we ever imagined. The only reason to have kept it would be to force the player to see something in the notebook, but I think we can do this with the content in a textComponent file now, so no worries. Plus, apparently the frontend isn't working anyway. So let's remove the

[2019-11-04 13:21] martindusinberre commented on #42
@interrogator if it's easy to add a new tab for FAQ, I would: I think "About" and "FAQ" are two different things. We will need to populate FAQ as and when we get feedback, and identify certain problems (e.g. try not to play on X browser); the "about" is more about future potential collaborations / how we've set up the game for open access. I think that means six tabs in total: hope that's not too

[2019-11-04 13:22] interrogator commented on #42
Doesn't take long to add a tab, but yeah, more than six starts seeming like a lot, so hopefully this is all for now. Will add now.

[2019-11-04 13:25] martindusinberre commented on #42
Great. Take down reviews for the time being if you want, as it's empty; but hopefully we coudl get some endorsements there before April, as in a book publication... Will leave this to you--perhaps an empty tab looks naff? Can you hide it easily?

[2019-11-04 13:27] martindusinberre commented on #91
Great. Will have a proper look at this text tonight/tomorrow but we need to think about how we encourage potential topic creaters who have actual historical content etc. That's the challenge...

[2019-11-04 13:34] interrogator commented on #42
They can be hidden if really necessary, but trying to populate them is nicer!

FAQ tab is now coded, but we need actual FAQ text for it as well, right now it just has dummy text.

I would agree with hiding Reviews for the time being if we aren't expecting any to roll in. But we can do it in later issue, it is not related to this and not so urgent...

Visually yeah, 6 tabs is already a lot, should

[2019-11-04 13:42] interrogator commented on #80
So it looks like we should redeploy test environment soon and check if this worked?

[2019-11-04 13:43] interrogator commented on #39
I will remove it from the content, and then in the validator. I will just warn you that you need to pull once repos are updated :)

[2019-11-04 14:12] interrogator commented on #76
@martindusinberre closing seems we know what happened and how to avoid. One day this should make it into content creation FAQs though!

[2019-11-04 14:12] #76 closed

[2019-11-04 14:14] #39 closed

[2019-11-04 14:21] christian-bernet commented on #29
Sorry, that was forgotten.

[2019-11-04 14:27] christian-bernet commented on #89
In the game it was not the idea of having the link underlined.

But on the homepage it's ok in our opinion. But please define a hover state for the link.

[2019-11-04 14:49] interrogator commented on #89
Right now hovering just gives you grab cursor. Would be cool if the text got darker or something like that, can you tell me how to add that to the css class used on main page hyperlinks, which is currently:

[code]

[2019-11-04 15:16] interrogator commented on #88
It turns out the 'sign out' inside supervisor mode was really just a button that sent you back to 'games'. So, it was like 'sign out' from supervisor mode, not from your account. We turned it into a 'Back to Games' button.

Then we implemented a logout button on game page (i.e. when logged in). It was done https://github.com/uzh/marugoto-frontend/commit/9d9717c9d8f0e6a1a59bc2e97897876d56170f4a and

[2019-11-04 15:16] #88 closed

[2019-11-04 15:22] christian-bernet commented on #89
like this.
[code]

[2019-11-04 15:33] christian-bernet commented on #80
My plan was to review it before pushing it to master.
But now it's on master already.
At the moment https://marugoto.s3it.uzh.ch/login is not working.
I will review it tomorrow.

[2019-11-04 15:44] interrogator commented on #80
We added logout options today, bugs are likely to do with that, so don't
stress.

On Mon, Nov 4, 2019 at 4:33 PM christian-bernet <notifications@github.com>
wrote:

[2019-11-04 19:08] martindusinberre commented on #90
- [ ] On the "Partners" tab, please have the Hyperlinks open in a new tab.

- [ ] On the "Create LiT account" part of the front page, please add question-marks to the end of each verification question.

[2019-11-04 19:24] martindusinberre commented on #91
I would have the order of the About page differently. First:

**The Software behind Lives in Transit** [or something more technical if you want]
Lives in Transit is powered by a custom-built software called Marugoto. ("Marugoto" means "the whole" in Japanese.) Marugoto is 100 per cent open source and permissively licensed, which means that you can modify and run your own instance of the Marugoto e

[2019-11-04 19:35] martindusinberre commented on #76
@interrogator Yes, we have a good workaround.
Strategic question: I have been keeping enhancement/lowest issues open, just so we know what is still desirable in the future. Do you want me to close them, but then revisit them after spring 2020? Up to you--you have more experience in github etiquette... :)

[2019-11-04 19:40] martindusinberre commented on #90
- [ ] On the "Your Games" page: can you please make the font for the second paragraph ("Remember that...") the same as for the first? More significantly: do we want to give this information away? We discussed this quite a lot a year or so ago and were keen not to give the player too much information about their ability to revisit the choices they made. Don't you think they could work it out simply

[2019-11-04 19:43] martindusinberre commented on #90
- [ ] On the "Topic Selection" page: I'd prefer if we keep all mention of Marugoto away from the frontend as much as possible. Please change the second sentence to: "In the meantime, you can get a playable preview of one topic currently under development by working through a short extract. The topic is called **Defining Work**."

- [ ] On the "Topic Selection" page: please make sure the second par

[2019-11-04 19:50] martindusinberre opened #92 "Frontend display doesn't match order of pageTransition files"
This is a screenshot of 1.0.2 in the Trailer/demo.
<img width="1021" alt="Screen Shot 2019-11-04 at 20 47 04" src="https://user-images.githubusercontent.com/53183999/68152700-76f2e680-ff44-11e9-89e8-261bff8b09d6.png">
But the pageTransition.json files are numbered differently.
1.0.2/pageTransition4.json, for example, is "...people in positions of responsibility..."
It's quite important to me that

[2019-11-04 20:02] martindusinberre commented on #77
@witlox @interrogator Guys, how easy is it for you to fix this? It would make our captions look a lot sharper if we could include hyperlinks. But it might be related also to #89 ?
It's not a priority but if it's an easy fix, then that would be good to know.

[2019-11-04 20:05] martindusinberre commented on #69
@interrogator text will be saved to Notebook (if you're talking about the GLAMM job application). But you won't know that until you download your notebook (or look at it on the very last page).
Whether it will be reviewed or not, and how it affects the later part of the game--that's the whole insecurity that you *should* feel! You don't know what the museum director makes of your text; you don't k

[2019-11-04 22:07] interrogator commented on #69
This makes sense in terms of how we are supposed to feel etc. But I wonder if people should, in this case, be able to go back and update their answer? Otherwise, expect 50% of responses to be `lol it don't matter wat i type here` ...

[2019-11-04 22:34] interrogator commented on #91
Thanks, this is a good start. Can we think of some other sections that will be included? From those I can create more content.

[2019-11-04 23:06] interrogator commented on #90
Thanks, these are all easy to do.

Quick note however @martindusinberre, you asked me to go use some initiative and flesh out paragraphs with new text where I can. But so far, even the smallest of these changes has met with (totally understandable) resistance, generally based on a discussion that was had before I arrived on the project. I can't divine the outcomes of these discussions, and am pret

[2019-11-04 23:08] interrogator commented on #90
Everything ticked off in this thread is in frontend master branch btw

[2019-11-04 23:16] interrogator commented on #92
Looks like a bug on @christian-bernet 's side. Assuming he can fix a lot faster than we can.

[2019-11-04 23:18] interrogator commented on #77
We can look into it, should be fixable!

[2019-11-05 07:30] martindusinberre commented on #90
@interrogator great.
About the editing process more generally: Re "your games": mine is a question, not a shut-down. If you think the second paragraph you added should stay even in light of the question I asked, then please just answer why you think so, and leave it in. That's why I also asked @Helena-LiT for her opinion.
Re. "topic selection": this is something you and I discussed on rocketchat l

[2019-11-05 07:43] martindusinberre commented on #69
@interrogator Yes, exactly: that's a more general problem we have with trying to convince the player that their input means something. I tried to address that with the extra sentence I added at the end of 1.1.2, but that (a) is probably going to be ignored and (b) is only relevant for players playing in a class.
I've got no idea what to do about it! Going back isn't really an option if we want sim

[2019-11-05 07:46] martindusinberre commented on #91
OK, thanks, @interrogator . @lfeine @Helena-LiT  can you think of anything else you think should go on our new "about" tab? Please add draft text directly here.

[2019-11-05 08:56] Helena-LiT commented on #69
@martindusinberre You could also use some preformulated answers of the kind you have in the questionary at the beginning. There could be even some "lol" nonsense answers to indicate the player does not take this seriously. I would still have an input field, but the general attitude towards the exercise could be then inferred from that selection.

[2019-11-05 08:59] Helena-LiT commented on #69
I would also like to note that Professor Witles changes gender mid-game. Is that on purpose?

1.1.5 You remember that Professor Witles made a comment about situational perspectives being a metaphor for academic research. He evidently meant this as a joke, for he had laughed loudly afterwards." (Witles=he)

[2019-11-05 09:04] Helena-LiT commented on #69
As I have mentioned before, I still have the impression that in the trailer we seem to have a student who is unusually preoccupied with his/her Prefessors remarks, jokes and aphorisms:

[2019-11-05 10:25] martindusinberre commented on #69
@Helena-LiT Like the pre-defined answers idea--will try to think how the content could change on that.
On the gender: the first professor (1.1.1.) refers to the prof in the video. I can try to name her, but wondered if that would complicate things. I also assume that if the player has watched the video, that comment (about "sufficiently utilized") is the very last thing they've seen before they tr

[2019-11-05 10:35] interrogator commented on #76
I think it's nice to be able to close all your issues as they are 'complete for now'. It isn't hard to reopen next year if need be.

[2019-11-05 12:05] Helena-LiT commented on #69
@martindusinberre

Lats time we spoke about this I have already suggested a few things but it really depends on what the function of these "memories" is supposed to be. Are they there to characterize Witles as a person or do they give direction to the research? If the latter is the case, then they could come from any source:

The player could leaf through his/her old notes in an old notebook and n

[2019-11-05 12:23] interrogator commented on #90
I don't think it's 'shutting down', don't worry --- it's just that it turns out that you guys have thought through a lot of the stuff I find myself thinking through, it ends up duplicating efforts, reverting changes, and so on. But yeah we can find a solution to the thing tomorrow if you still think it is necessary to have me trying to create content for the main page. I just think focussing on ed

[2019-11-05 13:26] interrogator commented on #91
Is there some good text from various grant proposals etc, discussing aims and motivation of the project? That kind of stuff might be well re-used here. Influencers (i.e. Coltrane) etc can also go up. Basically I think, the more content, the better. The more info, the bigger and better the product appears (though I'm not a marketing guy of course)

[2019-11-05 15:35] interrogator commented on #77
We started looking into this today. Pim has just had to go, but a solution is on the way...we think we may as well allow you to add markdown/HTML for any text-like field, eh?

[2019-11-05 18:55] martindusinberre commented on #77
Perfect--that would be great. Thanks, M

[2019-11-05 18:57] martindusinberre commented on #91
@interrogator Yes, there's a long proposal from earlier this year but actually Lena and I are in the process of putting in a smaller grant application now so I'll try to get this text to you asap. Can send you the longer proposal offline if you'd be interested? (It was for me to get the DSI fellowship)

[2019-11-05 19:04] martindusinberre commented on #90
Great, good plan. Definitely sounds like a good idea to avoid duplicatio. See you tomorrow, M

[2019-11-06 09:23] interrogator commented on #75
Yes, it is for me and maybe @witlox to do. We discussed, and this is necessary due to Swiss law.

[2019-11-06 09:30] interrogator commented on #66
Any interest in this @martindusinberre ? I don't expect we'll have many third party contributions either way, so it's probably not a huge big deal. But all we'd need is a prize or two, which might not cost anything, and we could advertise this on main page, tweet about it, and see if it attracts developers (it probably won't)

[2019-11-06 09:37] interrogator commented on #64
Textbook case of a closeable but reopenable issue.

[2019-11-06 09:39] #64 closed

[2019-11-06 12:15] interrogator opened #93 "Accurate error messages for backend problems"
When the backend is in the process of being built/deployed, and someone tries to log in, they get incorrect error messages like 'Incorrect email/password'.

If we go live with this, we'll get users thinking their credentials are wrong, and try to reset them, when really it's our fault.

Ideally we can get the error message from backend and display it to the user. Better for them to know what's goi

[2019-11-06 12:54] interrogator commented on #77
Done in https://github.com/uzh/marugoto-frontend/commit/bc74f6cc578aabc17193d0a9dc3c26ba4024838e . Was not very hard, just need a `<vue-markdown>` element. We can probably do this for more types of text input, maybe @martindusinberre can tell us if there are any places he would particularly like to be able to add markdown/HTML-enabled text

[2019-11-06 12:54] #77 closed

[2019-11-06 12:55] interrogator commented on #77
(Will make a new issue if need be)

[2019-11-06 13:19] lfeine opened #94 "PDF Export: Long links linebreak incorrectly"
When exporting a notebook entry with a long link to PDF, the link stops linebreaking after the first line and gets cut off at the edge of the page.
<img width="746" alt="Screenshot 2019-11-06 at 14 18 04" src="https://user-images.githubusercontent.com/54706676/68301446-44f69700-00a0-11ea-8913-dd1996febcd9.png">

[2019-11-06 13:45] #87 closed

[2019-11-06 13:51] martindusinberre commented on #48
@witlox when you have a moment, please give a short narrative of what we discussed this morning (particularly the problem of needing to renew licences)

[2019-11-06 13:52] #54 closed

[2019-11-06 13:53] #27 closed

[2019-11-06 13:53] interrogator commented on #86
This is old.

[2019-11-06 13:53] #86 closed

[2019-11-06 13:53] #30 closed

[2019-11-06 13:55] #44 closed

[2019-11-06 13:55] #34 closed

[2019-11-06 13:56] #35 closed

[2019-11-06 13:57] #65 closed

[2019-11-06 13:57] interrogator opened #95 "Split content into uzh github repos; create wrangler repo"
* [x] every topic should be its own repo starting with `lit-`
* [x] every repo should have README.md
* [x] every repo should have a LICENSE
* [x] every repo should be a submodule of `lit-content` repo
* [x] test system deployment should clone `lit-content` recursively and use those submodules?

[2019-11-06 13:57] #79 closed

[2019-11-06 13:57] interrogator commented on #95
Content wrangler and basic README available at:

https://github.com/uzh/lit-content

[2019-11-06 14:04] #75 closed

[2019-11-06 14:04] interrogator commented on #48
Then close as reopenable :smiling_imp:

[2019-11-06 14:09] martindusinberre commented on #78
I actually think this can be closed as there are multiple issues in here which we are now dealing with in a Project (or which have already been dealt with in a separate issue).

[2019-11-06 14:09] #78 closed

[2019-11-06 14:10] martindusinberre commented on #21
@interrogator could you give a quick narrative of what you discussed with Christian last Wednesday for this, just for documentation purposes? Then I would close it (possibly as reopenable, depending on how good you think the fixes are).

[2019-11-06 14:11] #40 closed

[2019-11-06 14:12] martindusinberre commented on #80
@interrogator so is this fixed or not? If so, please close.

[2019-11-06 14:15] martindusinberre opened #96 "Choose a licence for playable demo"
@lfeine This is the page Pim sent me for you to choose a licence from:
https://creativecommons.org/choose/
Danny wrote to me: "once we've done that then we can switch you over to updating the github repo for PL and demo, so let us know when ready"
@interrogator please let Leyla know if I've left out any information she needs on this.

[2019-11-06 14:17] martindusinberre opened #97 "Validation questions for new log-in"
As requested by Pim: the questions shouldn't be so easy as for a computer to understand them.
@witlox or @interrogator could you cut and paste the current questions here as I'm not able to see them on acrion?

[2019-11-06 14:20] christian-bernet commented on #80
that is done and now also reviewed.
I will close this now.

[2019-11-06 14:20] #80 closed

[2019-11-06 14:24] interrogator commented on #97
Currently we have:

[code]

Anybody brave enough can simply add questions to: https://github.com/witlox/acrion/blob/master/data.js

[2019-11-06 14:25] martindusinberre commented on #42
@interrogator One key question which we should put in FAQ (please edit to clarify as you see fit):
Question: Is Lives in Transit a commercial or for-profit project?
Answer: No, Lives in Transit is entirely non-commercial, not-for-profit. It has been developed as part of a publicly-funded academic research project led by the University of Zurich (see "Partners" tab).

[2019-11-06 14:39] martindusinberre commented on #97
@witlox Hope you can just copy and paste these corrections? Then I'll think of more questions

"What colour is the clear sky": "blue",
"What colour is a clementine": "orange",
"What colour is the sea": "blue",
"What is generally the colour of the moon": "white",
"What is the colour of a traffic light when you have to stop": "red",
"What colour is healthy grass": "green",
"What colour is egg yolk":

[2019-11-06 14:57] interrogator commented on #97
OK two Sydney questions!? Cash me outside @martindusinberre @witlox

[2019-11-06 14:59] interrogator commented on #42
Good. Note that @lfeine is now also able to edit HTML for these pages, she is welcome to help out on this one. need 5 or 6 questions to justify the section i suppose! :grin:

[2019-11-06 15:02] interrogator commented on #96
Nope, just pick as open as you can. From experience, you don't really have to worry that people are going to steal your work, the fact that it's yours is evident through git history anyway. We want open enough that people can go so far as to clone and modify a topic either to improve, remix, whatever. Might be nice if they still have to list the original authors, but even this doesn't really matte

[2019-11-06 15:06] interrogator commented on #21
I got a set of instructions that aren't much use here:

[code]

And as Christian said, the updated code is diffed here: https://github.com/uzh/marugoto/commit/e433c9c4c3de2c1f8d9835da9843a341ee1c3075 . Soon I bet we'll be importing more often, and will see if it truly is more stable. Anecdotal evidence so far is that the importer has been OK lately.

[2019-11-06 15:16] lfeine commented on #96
I think CC-BY-NC would fit our needs. This means:
- People can share the Demo (in altered or unaltered versions) in any license they like, including non-free ones. We could require share-alike here, meaning it must be shared under the same license. Let me know what you think.
- Credit must be given
- Only non-commercial use if shared (as I understand this is part of our requirements from our fundi

[2019-11-06 16:10] christian-bernet commented on #28
This bug ist still here:
![image](https://user-images.githubusercontent.com/41006947/68315630-58156100-00b8-11ea-98a9-f8af76036324.png)

[2019-11-06 16:32] martindusinberre commented on #97
:)
@witlox how many more do you want?

[2019-11-06 16:33] martindusinberre commented on #96
Thanks, Leyla. @witlox @interrogator Will this do, then? If so, then please do whatever you need and update the project page.

[2019-11-06 16:36] martindusinberre commented on #21
Yes, I agree--anecdotally it seems to be working better (famous last words!). So I'll close this but mark as reopenable.

[2019-11-06 16:36] #21 closed

[2019-11-06 16:41] #32 closed

[2019-11-06 16:42] #31 closed

[2019-11-06 16:55] martindusinberre commented on #92
@christian-bernet Please could you let me know when this could be fixed? It's actually more urgent than #28 at the moment as it affects the playable demo, which we plan to make live on Tuesday 12th November.

[2019-11-06 17:08] martindusinberre commented on #66
@interrogator Yes, we should do this. My idea would be:
i) we add their name to the "about" tab on the front page (this would require us to have a subsection called: "Thanks to..." or something similar)
ii) if they desire, we try to reference their name in one of the topics currently in production (numbers permitting).
iii) for those who find and report multiple bugs, we send a small gift of appre

[2019-11-06 17:09] martindusinberre commented on #66
And yes, we should tweet an appreciation, too.

[2019-11-07 07:25] christian-bernet commented on #92
@martindusinberre I started yesterday and will finish it hopefully today or tomorrow.

[2019-11-07 09:33] martindusinberre commented on #42
Another one:
Question: Where is the line between fact and fiction in Lives in Transit?
Answer: (a) All of the documents (primary and secondary sources) that you see in Lives in Transit are real. So are the archives and public institutions in which you collect those sources. (b) However, your "home" institutions, including your university and local museums, are fictional, as are all the characters

[2019-11-07 09:35] lfeine commented on #42
We can include the FAQ part of the privacy agreement in the FAQ page as well, since it's just rephrasing things it already states in the proper agreement.

[2019-11-07 09:49] martindusinberre commented on #90
@

- [ ] In the "Partners" tab, please add the following sentence at the end of paragraph 2 (after "...offered feedback on the game since 2016." The sentence is:
"The core LiT team during development has been: Martin Dusinberre, Helena Jaskov and Leyla Feiner (UZH Department of History), Pim Witlox and Danny McDonald (UZH S3IT), Ramun Riklin (Ansich), and Christian Bernet, Joachim Hummel (Vitamin2

[2019-11-07 10:37] interrogator commented on #90
Can do if need be, but might be a good practice run for @lfeine ?

[2019-11-07 10:38] lfeine commented on #90
Good idea, I'll do that this weekend then.

[2019-11-07 12:37] christian-bernet commented on #92
done with d36b6f87

[2019-11-07 12:59] witlox opened #98 "add production container and define test container for frontend"
currently the .env.production is used for test and prod, which won't work, because the paths are hardcoded. split off and create own containers for prod(:latest) and test(:test)

[2019-11-07 13:01] #92 closed

[2019-11-07 14:21] nemtish commented on #94
fix https://github.com/uzh/marugoto/commit/f89080757da7182484bdbbf63821816b4fd4f027

[2019-11-07 14:22] interrogator commented on #98
Let's make sure we have all this organised the right way from the beginning, eh?

Currently after_success builds and pushes with two different tags:

https://github.com/uzh/marugoto/blob/master/.travis.yml

Is this correct, and is this how we want to do it?

[2019-11-07 15:35] christian-bernet commented on #94
fixed with cf84fb9c

[2019-11-07 18:14] martindusinberre opened #99 "Small HTML-related issues"
The player is asked to copy and paste a URL into the Notebook (e.g. 1.1.3); he/she then continues to 1.1.4 and the notebook entry they have made is saved with a timestamp. If, on 1.1.4 or subsequent pages, the player goes back to the page in the notebook called "Putnam" and clicks on the URL in the notebook, the link opens in the same tab as marugoto.
--> can any hyperlink in the notebook added by

[2019-11-07 18:21] interrogator commented on #94
Nice solution! Much better than line breaking.

[2019-11-07 18:21] #94 closed

[2019-11-07 20:10] martindusinberre commented on #69
Thanks all: I've incorporated these suggestions as much as I can.

[2019-11-07 20:11] #69 closed

[2019-11-07 20:14] martindusinberre commented on #90
@interrogator

- [ ] Change the time stamp settings in "Your games". This is because when I exited a game halfway through just now, "Open Games" recorded my unfinished game as being played on 7 December, not 7 November!

- [ ] For the time stamp in the Notebook, can we set it to Central European Time? At the moment it's on Greenwich Mean Time. Not a major problem if it's a lot of work, though.

[2019-11-07 20:15] martindusinberre commented on #91
As discussed on rocketchat today, make #66 part of "About"

[2019-11-07 20:35] martindusinberre commented on #90
- [ ] Can @interrogator suggest in which tab on the front page we add the following sentence (or something similar)? "Every effort has been made to check copyright for the images appearing in Lives in Transit, and to provide bibliographic links. Please contact the LiT Team if you spot any inadvertent errors in acknowledgement."

[2019-11-08 10:51] interrogator commented on #99
It must be possible. I will look into how this currently works and make a fix.

[2019-11-08 10:56] interrogator commented on #90
![same-size](https://user-images.githubusercontent.com/10471132/68471580-cbd17e00-021e-11ea-96ca-ed27ab6a6dd9.png)

[2019-11-08 12:17] interrogator commented on #90
Just a note on the above --- there are classes like `lead`/`lead-text` which one would think should be used for the first paragraph of text on pages like this. But such classes make the paragraph bigger, and it looks nasty when there is a second smaller paragraph underneath. Best solution is to simply never use the `lead` type classes when styling these content blocks. The above is how it looks wi

[2019-11-08 12:29] interrogator commented on #90
One solution, we could have it in FAQ, for a question like `How is Lives in Transit licensed?`? Some other stuff could go in there as well... @martindusinberre how does that sit with you? Helps flesh out FAQ section, which we need right now

[2019-11-08 12:30] interrogator commented on #91
Will have this done today

[2019-11-08 12:44] interrogator commented on #90
* [ ] align the `Supervise group game` and `Sign out` buttons to the right of the div, and prevent them breaking into two rows on a small screen @witlox .

[2019-11-08 13:14] martindusinberre commented on #90
@interrogator great, please put that sentence in FAQ then, along with the licencing stuff.
And who was giving me grief for US english the other day ? :) "licensing"...

[2019-11-08 13:38] interrogator commented on #66
First cut of text now done: https://github.com/uzh/marugoto-frontend/commit/62a86532dfe07dea464ba9cdd3e152d148449adc

[2019-11-08 13:58] interrogator opened #100 "News and twitter feed on main page"
It seems like we'd benefit from two dynamic content spots on our welcome page: most recent news item, plus most recent tweet. Then there could be a news tab, which is an archive of all news (perhaps done with RSS?)

I'm sure this is very common task, but I personally haven't done it before, so don't know how long it will take to set up. But yeah, I think that's the best way for us to keep users in

[2019-11-08 14:08] interrogator commented on #97
Update, I added the damn question marks to existing question. Let's get a few more in there and release it!?

[2019-11-08 14:13] interrogator commented on #96
Yep, that seems appropriate to me. Added here: https://github.com/uzh/lit-demo/commit/2b42a5ce2b902732cb971a302f1ac108d69f67d9

[2019-11-08 14:13] #96 closed

[2019-11-08 14:21] interrogator commented on #66
Can close this --- all we really have to do now is tweet about it a few times when we launch, and make it a 'news' item when we set up news functionality.

[2019-11-08 14:21] #66 closed

[2019-11-08 15:17] interrogator commented on #95
Decided that most of this should be done after our demo launch, so we aren't working on too many things at once.

[2019-11-08 15:48] interrogator commented on #90
@martindusinberre on the select topic screen, can we change:

* [ ] `Preview this topic` -> `Launch`

It isn't a preview (anymore)...

[2019-11-08 16:22] interrogator commented on #99
OK, it turned out this was quite hard to fix.

Long story short, the user is entering markdown here. By default, things that look like links are made into hrefs automatically. But by default, the href opens in same tab. @witlox you noticed that notebook content would be turned into HTML --- it seemed like a weird feature, but if disabled, then the user can't add such clickable links. So that's why

[2019-11-08 16:22] #99 closed

[2019-11-08 16:38] interrogator commented on #95
* [ ] Plantation Lives to private UZH gitlab
* [ ] Check if @martindusinberre cares about PL git history
* [ ] Decide whether or not to keep git history for PL (probably not, since the repo is quite large and probably has bulky history).
* [ ] Demo to get permission and then I can push to github
* [ ] Delete the current `content` repo so there is no confusion about where to push to
* [ ] Update cr

[2019-11-08 16:58] martindusinberre commented on #99
Thanks, Danny--nice work. I'll keep an eye on whether other things are broken as a consequence of this. Cheers, Martin

[2019-11-08 17:01] interrogator commented on #42
A couple more and I will make into HTML and release. One question will be about license and copyright stuff.

[2019-11-08 19:12] martindusinberre commented on #90
@interrogator Yes, good idea. Thanks.

[2019-11-08 19:13] martindusinberre commented on #100
Thanks, that would be wonderful if you could develop this feature.

[2019-11-09 11:47] interrogator commented on #90
* [ ] Remove German-style noun capitalisation (i.e. `Forgot Password` -> `Forgot password`)

[2019-11-09 11:52] interrogator commented on #100
OK it should be trivial to hook up the twitter feed. On top of that, I think we make a news tab, and any stories longer than a tweet we can add in there, and the tweet can link to them.

Here shows how super easy it will be:

https://developer.twitter.com/en/docs/twitter-for-websites/overview

[2019-11-09 18:11] martindusinberre commented on #100
Great, good news. Thanks, Danny

[2019-11-11 11:44] interrogator commented on #100
Awaiting comment from @lfeine regarding legality of the embedded tweet idea.

[2019-11-11 15:11] interrogator commented on #91
@martindusinberre any more text for about page right now? or should we close this for now?

[2019-11-11 15:12] martindusinberre commented on #91
@interrogator  think we can close--thanks.

[2019-11-11 15:12] #91 closed

[2019-11-11 19:16] martindusinberre commented on #90
- [ ] implement the revised verification questions from MD's edits on #97

- [ ] In the "Citing LiT" tab, the example just *before* the .bib format should now read:
Dusinberre, Martin, Helena Jaskov, Pim Witlox, Daniel McDonald and Leyla Feiner, "Defining Work", ... [and then as is]
[NB we'll change this according to the topic: where Lena is the lead author, her name will come first]

- [ ] (I don

[2019-11-11 19:25] martindusinberre commented on #42
@interrogator @lfeine @Helena-LiT
OK, the questions as of Monday evening (11th November):

[NB: please make sure this is the first question; otherwise, I leave the order to you]
Question: Is Lives in Transit a commercial or for-profit project?
Answer: No, Lives in Transit is entirely non-commercial, not-for-profit. It has been developed as part of a publicly-funded academic research project led by

[2019-11-11 19:29] martindusinberre commented on #100
@interrogator @witlox @lfeine As discussed on rocketchat today, the Twitter feed means that a social media site is embedded on our frontpage, which goes against our Data use agreement as it's currently formulated. For the demo, therefore, we don't implement this, and we perhaps revisit it before full launch. For this reason, I'm closing this issue but adding a reopenable label.

[2019-11-11 19:29] #100 closed

[2019-11-11 19:45] martindusinberre commented on #90
@interrogator  Sorry, I now realise we've managed to overlook explaining "Marugoto" on the "About" tab. My suggestion (please edit/rewrite/restructure as you see fit):

- [ ] A sentence right under "About" but before "bug bounty": Lives in Transit is run through a custom-built programme called "Marugoto" (meaning "the whole" in Japanese).

- [ ] If a sentence like this goes in, then I'd suggest on

[2019-11-11 19:47] martindusinberre commented on #90
- [ ] On "Your Games", there needs to be a space between "Transit" and "Home"

[2019-11-11 19:48] martindusinberre commented on #90
- [ ] Minor issue (not urgent before demo launch) but just for the sake of consistency: if we're taking out bolds and replacing them with italics, then we should do that for the "Select a topic" page, too...

[2019-11-12 10:54] interrogator opened #101 "Timestamp issue"
Timestamps in Your Games are incorrect.

Just confirmed that time on server is accurate, so that's not it. Will investigate.

[2019-11-12 10:55] interrogator opened #102 "Timestamps"
@interrogator

- [x] Change the time stamp settings in "Your games". This is because when I exited a game halfway through just now, "Open Games" recorded my unfinished game as being played on 7 December, not 7 November!

- [x] For the time stamp in the Notebook, can we set it to Central European Time? At the moment it's on Greenwich Mean Time. Not a major problem if it's a lot of work, though.

_O

[2019-11-12 10:56] interrogator commented on #101
Duplicate, closing

[2019-11-12 10:56] #101 closed

[2019-11-12 10:57] interrogator commented on #90
This gets its own issue, so closing here

[2019-11-12 11:54] lfeine commented on #42
I've added the questions to the FAQ tab, let me know if there should be more questions/any changed.
Related commit: https://github.com/uzh/marugoto-frontend/commit/3abc0f357812d55bd891068daa39001ca945156b

[2019-11-12 12:02] lfeine commented on #97
I've tried to come up with some additional question formats, let me know if they work for your purposes before I add them (and their variations) @witlox

`"What animal catches mice": "cat",
    "What is the taste of lemons":"sour",
    "What does fire feel like":"hot",
    "Where do deer live":"forest",`

[2019-11-12 12:04] interrogator commented on #102
lol, I think the problematic code is:

[code]

[2019-11-12 12:07] interrogator commented on #102
First fix: https://github.com/uzh/marugoto-frontend/commit/ab0dcc1914f28f46e4167c66efbd81464cd9c421

[2019-11-12 12:23] interrogator commented on #102
The other fix is going to be harder: frontend is apparently receiving UTC time for `createdAt`, which is good because that way localisation can be handled in the frontend (i.e. different times displayed for different users in different locations). However the frontend is not set up to convert times from UTC to local, and this will take some doing.

[2019-11-12 12:24] interrogator commented on #102
Probably we can use: https://www.npmjs.com/package/vue-moment

[2019-11-12 13:08] interrogator opened #103 "Styling Your Games like Welcome page"
Moved over from minor thread because it wouldn't be minor --- I still think it might be nice (some day) for the Your Games style to more closely resemble the homepage, perhaps with the map background and so on. This will help people understand the 'logged in vs logged out' home page better. @martindusinberre let me know if you want, and what prio it should be.

[2019-11-12 13:13] martindusinberre commented on #103
@interrogator yes, if it's fairly easy to do the map as a background, and to style the page closer to the log-in page, great. I don't think it's probably necessary for the demo but something to do between now and the spring? Unless you can do it easily and would for aesthetic reasons prefer to have it done before we make the demo live. I leave it to you.

[2019-11-12 13:14] martindusinberre commented on #102
@interrogator OK, not a priority for the demo if it's terribly time consuming.

[2019-11-12 13:56] interrogator commented on #102
We are trying to do it now

[2019-11-12 13:57] interrogator commented on #90
Closing this long thread. Will make a new one. Great job @martindusinberre @lfeine

[2019-11-12 13:57] #90 closed

[2019-11-12 14:07] interrogator opened #104 "Minor thread 2 🤘📝🤘"
Anyone can add small issues to this thread. Use checkboxes for small issues such as typos, formatting, basic style stuff. Make independent issues for anything complicated.

* [ ] Check whether `underlined` class can be replaced by `link` class and deleted?
* [ ] Twitter/GitHub icons
* [ ] ...

[2019-11-12 14:10] witlox commented on #97
@lfeine we've just created a new version. Thanks for the questions, we'll try them for the next round.

[2019-11-12 14:10] #97 closed

[2019-11-12 16:18] interrogator commented on #102
These are both done, with added bonuses:

* Get correct time Your games, rather than just date
* Get day of the week something was done on
* Get localisation: people in other timezones will have their local time displayed.

Note that there may be other datelike things that need converting. @martindusinberre please let me know if you discover them, and we can apply this fix.

[2019-11-12 16:18] #102 closed

[2019-11-13 11:20] interrogator opened #105 "Deployment resource names"
Currently, different topics cannot share a resource name, because they all end up in `resources/` directory. For example, two topics cannot have a `main.jpg`, because they will override each other during import time. This is not a good design and will need to be fixed.

@martindusinberre, for now, be sure to give all your resources unique names (even across topics)! Unassign yourself when you have

[2019-11-13 11:53] #98 closed

[2019-11-13 12:17] interrogator commented on #28
@christian-bernet if and when this gets fixed, please let me know so I can version bump and redeploy livesintransit.org...

[2019-11-13 15:13] interrogator commented on #104
* [ ] All headers on main pages should be be same size and location

[2019-11-13 15:16] interrogator opened #106 "github readme update"
We link people to this github repo. Therefore, the README page should be useful for visitors.

Ideally it has sections on how to configure and deploy, how to contribute and so on.

This issue also includes adding useful badges, potentially fixing broken hooks etc

[2019-11-14 08:46] christian-bernet commented on #28
@interrogator I will fix this. But it is not that easy... I have looked several times at this issue.
And I will also do that on the beginning next week. But I am not sure if its fixed afterwards.
We have the problem only at the test-system. Not local on our dev-systems. So it is a little bit tricky to fix. But I will let you keep you up to date.

[2019-11-14 13:34] interrogator opened #107 "Autodeploy of test system broken?"
I have a feeling that our live system work broke the autodeploy of test system. We'll need to fix this soon, but it's not super urgent since we just went live yesterday.

[2019-11-14 14:27] martindusinberre opened #108 ""Download" button perhaps not working on "Your Games" page?"
Can anyone reproduce this problem? I played Defining Work yesterday (13Nov) on the production system without any trouble. Today, when I logged in again, I went to "Finished games" but when I tried to click on "Download" to get my notebook from yesterday, nothing happened.
As @lfeine has noted: it works fine if you download the PDF from the download icon in the Notebook, either during the game or o

[2019-11-15 12:59] interrogator opened #109 "acrion captcha bug?"
So far I think the captcha thing has broken twice, once for me and once for Lena. Problem may be about case sensitivity? Need to figure out what happened and fix.

[2019-11-18 12:15] christian-bernet commented on #108
@interrogator if you want, I can have a look at it next week.
All best, Christian

[2019-11-18 12:16] christian-bernet commented on #28
@interrogator it is planned to look at this next week. I will keep you up to date for that.

[2019-11-18 15:01] interrogator commented on #108
Could be my issue, as I changed these buttons recently. I will look into it.

[2019-11-18 15:02] interrogator commented on #108
I will reassign @christian-bernet if it was nothing to do with my frontend changes.

[2019-11-18 22:18] Helena-LiT opened #110 "Feedback on madness-topic"
While I'm working on getting my topic-content to the test environment I would like to put some questions/concerns out here for discussion to give you @martindusinberre, @interrogator, @lfeine   an opportunity to give me some feedback:
1) As you know, I'm not quite happy with the original trigger video (a):

a) [Deinstitutionalized](https://www.youtube.com/watch?v=T3-1AYdfJ64)

It mentions the main

[2019-11-19 09:52] interrogator commented on #108
I took a look at this this morning, and can't see anyway my small frontend changes would have much to do with it. So I'll let @christian-bernet have a go.

[2019-11-20 09:05] interrogator opened #111 "Clarify length of demo"
People are confused about demo being a demo because of 'Chapter 1/5'. Clarify

[2019-11-20 20:22] lfeine commented on #110
1. I think you've selected some interesting videos, but I agree about your concerns. I think of all of them, option b is probably the most professional one and fits the tone of previous LiT stories the most.
I also looked for some videos. I didn't really find anything about deinstitutionalization specifically, but here's a few interesting ones about mental health in general, maybe they'll point yo

[2019-11-21 08:49] martindusinberre commented on #108
@christian-bernet Following a meeting yesterday of the UZH team, we're going to aim to do an update to the production system next Monday or Tuesday, just to test what happens when we try to do so. Therefore, if you're able to look at this bug before midday on Monday 25th, that would be perfect; if not, then please see what you can do later in the week and we'll add the bug fix to the next update w

[2019-11-21 08:55] martindusinberre commented on #111
@interrogator In the "Select a topic" page, please add these sentences *after* the sentence "The topic is called Defining Work":
"You can play the first of what will eventually be five chapters in this topic. The demo play time is about 15 minutes."
You might want to then make a line break between this and the sentence beginning "We are pleased...", but I leave it to you.
Thanks, M

[2019-11-21 09:08] martindusinberre commented on #107
@interrogator Yes, this is definitely not working: the (small) changes I pushed to lit-demo haven't yet appeared in the frontend on the test system.

[2019-11-21 09:11] martindusinberre commented on #103
@christian-bernet As discussed on Monday, please take a look at this. We'd be glad if the "Your Games" page could be styled a bit like the Welcome page, ie perhaps with the map as a background at some point? If you could, please send us a quick screenshot of what the new design looks like before you deploy the changes, just in case we have any comments/additions. Thanks, Martin

[2019-11-21 09:13] martindusinberre commented on #42
As discussed on Wednesday 20th, this issue is actually closed.

[2019-11-21 09:13] #42 closed

[2019-11-21 10:08] martindusinberre commented on #110
@lfeine thanks for all this feedback. I agree that it's better not to pose these questions directly.
@Helena-LiT I see the problems--and even with the first video, I'm inclined to think that 5 minutes is about the maximum we should have for a trigger page.
So a couple of ideas:
i) maybe don't worry about the trigger video and even the questions until you're almost at the end of the topic. Then it

[2019-11-21 10:16] martindusinberre commented on #110
@Helena-LiT @lfeine Incidentally, I would also suggest we shift this discussion from github to gitlab (closed), as the topic is in development. @lfeine do you have access to this topic in gitlab?

[2019-11-21 14:55] christian-bernet commented on #103
@martindusinberre We would only do the design. The development has to be done from Daniel or Pim. Just let me know if this is possible and we will send you the new design.

[2019-11-21 15:01] martindusinberre commented on #103
@witlox @interrogator does this work for you? For me, the redesign of the Your Games page isn't a priority, given that your working time is also limited. Shall we ask Vitamin2 to design it anyway, and then at least we have the design on file for future implementation in the new year or after full launch?

[2019-11-21 15:14] christian-bernet commented on #108
@interrogator can you send me the catalina log of the production machine, when you click on the download link at the production. I will be sure the java stack trace will help us to fix that.
Many thanks.

[2019-11-26 07:20] Helena-LiT commented on #110
Thanks, @lfeine and @martindusinberre for your comments and suggestions. I will move the issue to GitLab and continue our discussion there.

[2019-11-26 10:29] interrogator commented on #107
I believe it's now working, and is using github.com/uzh/lit-content to fetch data. This means that adding new topics is quite trivial in future!

[2019-11-26 10:29] #107 closed

[2019-11-26 10:29] #95 closed

[2019-11-26 10:50] interrogator commented on #111
Done in https://github.com/uzh/marugoto-frontend/commit/4a795c80d7c6aad133047b060adef5a0c7d99549

[2019-11-26 10:50] #111 closed

[2019-11-26 13:36] interrogator commented on #108
Logs emailed, not posted here, in case sensitive info in them

[2019-11-26 13:37] interrogator commented on #109
Done here: https://github.com/uzh/marugoto-frontend/commit/a5e8d00ba418f0df5bf1705552a95a72cf718276

[2019-11-26 13:37] #109 closed

[2019-11-26 13:41] christian-bernet commented on #108
Thanks for the logs.
The temp folder is not correctly set on production.
Can you please set a folder where the tomcat has access to write files.

As out of the log this value
marugoto.resource.temp.dir

[2019-11-26 13:53] interrogator commented on #108
OK, we will do this

[2019-11-27 05:23] martindusinberre commented on #104
- [ ] On the "Partners" tab on front page, please add "the" to the very first line: "...has been supported by the Swiss National..."

- [ ] In the Data Agreement, section 2 ("Collecting, Storing and Processing"), about halfway in, there's a sentence beginning, "We process this information in order for the game to react to your 'character' in the correct context." Please change the quotation marks

[2019-11-27 05:28] martindusinberre commented on #104
- [ ] In issue #97 , it seems like the edits I made to @witlox 's questions haven't been activated in some cases. E.g. "What colour does the sun have", which I deleted. *This isn't urgent*, as long as the captcha questions don't have any minor bug, as the "Other question" functionality works nicely. But if it's easy to delete that question, please do so. (The reason is that Japanese people might a

[2019-11-27 05:47] martindusinberre opened #112 "Game states not saved in autodeploy of test environment"
@interrogator @witlox This may only be relevant to the test environment. But just now, I signed out mid-game, then successfully pushed a change on github, then logged back in once the change had been made. But when I logged back in, my in-progress game was no longer visible in "Open Games". So it seems as if in-progress games are deleted when there is an autodeploy in the test environment.
This sh

[2019-11-27 13:47] #108 closed

[2019-11-27 14:07] interrogator commented on #104
Regarding captcha, I agree that wording of some questions is not standard English and could be changed, and also that questions can be somewhat ambiguous. But @martindusinberre so you understand, most of this was intended, as these ambiguities, original lack of question mark etc, are what makes the questions hard for a machine to solve. Now that the human can click to get a new captcha, I think th

[2019-11-27 14:33] martindusinberre opened #113 "Time stamp for "My Input" in notebook"
I've just noticed that although we have time stamps for any "Create new note" input in the notebook, we don't actually time-stamp the "My Input" parts of the notebook (e.g. those that are generated by textExercises). Perhaps we could think about whether this would be desirable before full launch in spring 2020?
It may also be true of emails that you write and which are then saved to Notebook: I'll

[2019-11-29 10:46] Helena-LiT commented on #110
Since the transition to GitLab did not go as smoothly as I had imagined, I will write my short response here:
@lfeine Thanks for the video search and your thoughts about my initial selection. The video about the Philippines is closest to my topic but it also gives the impression that neglect in mental health provision is exclusively a problem of the Third World or poor countries in general.
@lfein

[2019-11-29 12:45] martindusinberre commented on #110
@Helena-LiT Great, sounds good, and I like the new topic title. As I said, I think you can come back to the questions in a second iteration. I've just started doing this for Plantation Lives--and find that thinking of the questions now is helping me clarify what the whole topic is about. Have a look at the questions on the test environment if you want--they're a work in progress, but they help me

[2019-12-10 06:34] christian-bernet commented on #28
We postponed to do this....
It is now planned at the 19.12.19

[2019-12-10 07:59] martindusinberre commented on #28
OK, thanks for the update. Please do make sure that it's fixed no later than the 19th, as Pim's last day is on the 20th and we would all like to have the outstanding bugs from August fixed by then.

[2019-12-10 08:18] christian-bernet commented on #28
Thanks. For the feedback. So we will do it not later than the 19th.

[2019-12-10 09:39] interrogator commented on #28
@christian-bernet I don't know the backend well, but in terms of simplest fix, since mails are apparently exact duplicates, why not simply implement some check like (in python for brevity):

[code]

Even if we don't know exactly why the problem occurs, at least this would stop it and collect info that might help us diagnose at a later stage. just a suggestion if you can't reproduce the problem...

[2019-12-16 10:32] christian-bernet commented on #28
@interrogator Great idea..... thanks.

**But happily:**
We test it again right now at the stage system and the problem is now also gone.
I assume that the problem was because of this instable importer.
But with the new version that problem is gone.
So, please retest it on your side and if everything is also ok, then please close it.

[2019-12-16 13:08] martindusinberre commented on #28
Hi Christian: great, thanks for the update. @lfeine could you please test this when you have time? Best, Martin

[2019-12-18 20:18] interrogator commented on #112
first, priority for this isn't really very high, it's not realted to live system, and is not a bug.

We have the option of saving/deleting the player states when we import, and we tend to delete them to avoid errors that come from breaking changes. the problem is, we can't easily know in autodeploy if the latest changes break the game structure, so i guess we delete to be on the safe side.

so, ei

[2019-12-18 20:20] interrogator commented on #113
Do have a think. And if a user suggests something related in feedback, we can bump the priority up a bit.

[2019-12-18 20:23] interrogator commented on #105
While we have a known amount of game developers, it's OK to just make sure filenames are unique. I expect that by the time this really becomes an issue, we may have switched out the backend anyway. Time will tell.

[2019-12-18 20:24] interrogator commented on #48
Pim has let us down.

[2019-12-18 20:24] #48 closed

[2019-12-18 20:26] interrogator commented on #103
Yes, I think design-wise it is logical that there is a bit more cohesion between these non-game screens. If there was a design, I could implement by full launch. @christian-bernet please add design details here

[2019-12-18 20:28] interrogator commented on #93
Propose waiting for user issue report, since at xmas party we found out that we've only had this issue during development (when the backend was still building). Therefore it may not actually be a problem that affects users. And we found out it's hard to fix, so we should only do if necessary.

[2019-12-18 20:29] interrogator commented on #28
@christian-bernet are the changes related to this issue all in master branches? If so, this issue can be closed, as changes will go into next deployment.

[2019-12-18 20:59] christian-bernet commented on #28
@interrogator We did not change anything this week.
So, yes. this changes are all in master branch.

[2019-12-18 21:06] christian-bernet commented on #103
Ok. I will see, that we can do a design for the "your game screen".

[2019-12-19 10:23] lfeine commented on #28
I'm not sure the previous messages mean that this still needs testing, but it doesn't show up to me anymore.

Unfortunately, when replying to the formerly duplicated E-Mail, the reply button appears to not do anything (no state changes, no loading bar). The mail is still sent however, and appears when swapping back from another mail or closing and opening the mail window.

The error that appears i

[2019-12-19 11:35] interrogator commented on #28
@christian-bernet

[2019-12-19 13:17] christian-bernet commented on #28
I had a quick look on it.
![image](https://user-images.githubusercontent.com/41006947/71175173-2bcc3300-2267-11ea-9428-67cd94fa3f83.png)

There is an auto page transition when you reply to that mail which will fail, if you are not on page 2.2.1.
I can fix that on Monday. Unfortunately I can't do it today because we reserved the day for you last Monday.

[2019-12-20 15:40] martindusinberre commented on #112
@interrogator No worries at all about not noticing these issues! I'm happy to follow your advice and leave things as they are. So I'll close this for the time being. Thanks, Martin

[2019-12-20 15:40] #112 closed

[2019-12-20 15:45] martindusinberre commented on #28
@christian-bernet I had a look at this and I think it's a problem in the backend, right, not in the JSON files that I have. If so, then yes, please fix. The idea is that you shouldn't be able to transition from 2.2.1 to 2.2.2 unless you answer the email 2.2.1/mail1.json
Thanks, Martin

[2019-12-23 15:04] christian-bernet commented on #103
![First Contact – LiT Login Copy 2@2x](https://user-images.githubusercontent.com/41006947/71364870-ac5b9e00-259d-11ea-874c-c9c7181d68ef.png)

This is our proposal for styling the "Your game Screen".

[2019-12-23 15:05] christian-bernet commented on #103
If you want some changes or want the sketch file, just let me know.....

[2019-12-23 16:30] christian-bernet commented on #28
Bug for mail reply fixed: d3ff4ad8

[2020-01-02 10:34] martindusinberre commented on #103
@christian-bernet many thanks indeed for this! I like the look of it. @interrogator I don't think this is a priority for January, especially given the work percentages you're on, but perhaps we could see if you have spare capacity in February or March for it?

[2020-01-07 13:09] christian-bernet commented on #28
We will have again a look at this tomorrow and see if we can fix the problem with the circle relationship for pagetransition on page 2.2.1

[2020-01-07 19:17] martindusinberre commented on #28
Many thanks, Christian. I'm not sure why there's a particular problem here, as it should be a similar functionality as on 2.2.8, where you can only transition to 2.2.9 if you answer the previously received email (2.1.6). Here's it's always functioned fine, so I'm a bit surprised if the transition from 2.2.1 to 2.2.2, dependent on answering 2.2.1/mail1, doesn't work. Or have I misunderstood? Anyway

[2020-01-09 09:53] nemtish commented on #28
Hi @martindusinberre for this kind of situations where user should be transitioned automatically when replies to mail, you have to change "pageTransition.json" file like below:
"affectedMail": null,
"buttonText": null

With this change button will stay invisible for the user and circle relationship (@christian-bernet mentioned) won't be problem

Pages where you have page transitions that are only

[2020-01-09 12:15] christian-bernet commented on #28
Unfortunately we can not change the content ourself, because we do not have access to the content git anymore.
Add for the page 2.2.8 there is no auto-transition (if user reply to the mail) active.
Auto-transition can be activated if you add the pagetranstion in the mail.
As it is for mail1 on page 2.2.1.
![image](https://user-images.githubusercontent.com/41006947/72066890-02407d80-32e2-11ea-937d-

[2020-04-23 16:17] nemtish commented on #105
should be fixed now with 9815f12

[2020-05-02 13:31] interrogator opened #114 ""Official" documentation"
Can we please make some decisions regarding the documentation for game writers? Currently, we have the wonderful lit-tutorial game. I think that's awesome, but it is not very 'systematic', a game writer will want to be able to search docs for a string like "caption" to get clarification about what it does. So, in addition to the tutorial, should there be a writers' guide? @martindusinberre

I prop

[2020-05-05 07:27] martindusinberre commented on #114
@interrogator This sounds great! Yes, please set it up if you could, and I can then start migrating some of the generic advice I gave to @henokemp in his own project onto these pages. You can both add too, or simply questions/reminders where you think there are obvious gaps.
Why don't you name it "Lives in Transit Writers' Guide". Or, if you want something snappier, "LiT DIY".

[2020-05-19 13:04] #28 closed

[2020-05-20 07:13] Helena-LiT opened #116 "Broken page transitions"
Currently, it is no longer possible to get working page transitions that contain page criteria in the test environment (bug?). All page transition criteria (visited page, completed exercise) are ignored and the transition buttons appear as if the criteria where not specified. The problem occurs in my storyline “lit-madness” (Managing Lunacy; on GitLab; for example chapter4/4.4.3 but also in chapte

[2020-05-21 06:05] martindusinberre opened #117 "Minor issues to be fixed before launch if possible"
- [ ] - On the "Your Games" page, is it possible to have the time stamp for each of the "Open Games" **not** the time that you started the game, but rather the time you last exited the game? (This is less of a priority than the Notebook issue...)

- [x] In the Notebook (online), there's a bit of coding left over right after the date/time stamp for an entry (that is, `DD.MM.YYYY - HH:mm`). Can this

[2020-05-24 20:17] Helena-LiT commented on #116
It seems that most transitions are working again, but some are not. I have noticed that some transitions in lit-madness and in the trailer that have timers and an auto-transition feature don't work properly. In the trailer on page 1.1.7.1.2 there are two transition buttons displayed, when according to the page criteria there should be only one. In lit-madness on 4.5.15a the autotransition is never

[2020-05-25 10:11] Helena-LiT opened #118 "Lingering input text in textExercise"
At the moment, a curious malfunction can be noticed (in lit-madness and lit-tutorial): When the player inputs text into the field of a textExercise on one page and there is another textExercise component on the following page, then the player-inputted text from the previous page will be displayed in the new input field without having typed anything.

[2020-05-25 16:23] Helena-LiT commented on #116
Here is amore detailed description of the error in the trailer:

On page 1.1.7.1.2 there are 2 transitions with the "visited" page criteria. You get **Transition1** if you visited page 1.1.6.1B earlier:
`{
  "id": null,
  "from": null,
  "to": "trailer1/1.1.7.1.3B/page.json",
  "buttonText": "Call van Dijk back in to read your description",
  "time": {
    "time": 0
  },
  "money": {
    "amount":

[2020-05-26 19:25] martindusinberre opened #119 "It seems that most transitions are working again, but some are not. I have noticed that some transitions in lit-madness and in the trailer that have timers and an auto-transition feature don't work properly. In the trailer on page 1.1.7.1.2 there are two transition buttons displayed, when according to the page criteria there should be only one. In lit-madness on 4.5.15a the autotransition is never triggered after the timer runns out and the second transition (incorrectInput) never becomes available. However, I'm not sure if these problems are related."
It seems that most transitions are working again, but some are not. I have noticed that some transitions in lit-madness and in the trailer that have timers and an auto-transition feature don't work properly. In the trailer on page 1.1.7.1.2 there are two transition buttons displayed, when according to the page criteria there should be only one. In lit-madness on 4.5.15a the autotransition is never

[2020-05-26 19:25] #119 closed

[2020-05-26 19:55] martindusinberre opened #120 "Problem with pageTransitions with criteria "visited" *and* time-settings"
This is a problem that has emerged in the [trailer](https://github.com/uzh/lit-demo). When we play it in the [live system](https://livesintransit.org/login), everything works fine. In the test environment, however, the following problem occurs:

On page 1.1.7.1.2 there are 2 `pageTransition.json` files; each have a "visited" criteria. `pageTransition1.json` should appear if you visited page 1.1.6.

[2020-05-26 20:12] martindusinberre commented on #118
@Helena-LiT I'm finding it hard to reproduce this. The obvious place to test it in PL (I tried to reproduce the problem tonight) is 2.4.5.1.7.2 and 2.4.5.1.7.3, where there are textExercises on consecutive pages. But they worked fine, at least in Firefox.
I wonder if it was just a temporary glitch to do with the system updating or something?
But if happens again, let us know here...

[2020-05-27 16:18] Helena-LiT commented on #120
This a duplicate of #116

[2020-05-27 16:18] #116 closed

[2020-05-27 17:03] martindusinberre commented on #120
@Helena-LiT It's not quite a duplicate because the radioButtonExercise transition, which was also part of #116 , is fixed.

[2020-05-27 20:57] nemtish commented on #120
should be fixed with https://github.com/uzh/marugoto/commit/4ab23d121c75af9ec4caa31bb11e0e8aa78472b1

[2020-05-27 21:04] martindusinberre commented on #120
Thanks so much, @nemtish  we'll test it tomorrow. Best, Martin

[2020-05-28 07:24] Helena-LiT commented on #120
@martindusinberre The changes that presumably caused all these bugs were made at the same time and in the same instance (the trailer bug is not newer than the other transition bugs), so these two issues should be linked when people are looking for the cause of the problem. Adding a duplicate marker is just one way in GitHub to link two related issues, which makes sense when all of #120 is containe

[2020-05-29 07:33] interrogator commented on #114
Reflecting on this, it's now set up and all people involved know how to add content. Since there is no point at which content is complete, I'm closing this issue. Please make a specific new issue if you want (e.g.) a whole new section or something like that. Also if something you don't understand about the site, make an issue, reopen this, whatever ...

DOCS: https://lives-in-transit.readthedocs.i

[2020-05-29 07:33] #114 closed

[2020-05-29 07:37] interrogator commented on #105
Thanks @nemtish , I can close this for now. The result is, resource file names now no longer need to be unique across games. This is important in case the game grows; we want to minimise problems that are caused by other (potentially unknown) people's content. Great job!

[2020-05-29 07:37] #105 closed

[2020-05-29 08:33] martindusinberre commented on #117
- [ ] Martin to delete PL shortcuts before launch

- [ ] Update frontpage and Game Selection page texts (MD to draft, including @henokemp's game, how to cite the different games, idea of writing a game as a student assignment, Tutorial game, writers' guide)

[2020-05-29 15:48] Helena-LiT commented on #120
I would like to add some of my observations on the transition bug (autotransition + page criteria: visited) based on the Madness (Managing Lunacy storyline):

- presence of **autotransition** on a page (in page.json) causes the game to **disregard** any **"page criteria" : "visted"** objects (in pageTransition.json) **displaying** pageTransitions (button text) that should not be available
- presen

[2020-05-29 18:06] martindusinberre commented on #117
- [ ] Create a buffer space in Topic Selection page so that the folder/photo graphic doesn't hide the text. And so that there's enough space for five folders, eventually. (Four only necessary now)

[2020-06-01 23:28] martindusinberre opened #121 "Changes to the LiT frontpage"
- [x] **Partners** tab: _Please change the second paragraph to:_
...…during development has been: Martin Dusinberre, Helena Jaskov, [Leyla Feiner](https://merveilles.town/@toadheart) and [Henrik Jochum](https://twitter.com/HJ_1812_0) (UZH Department of History), Pim… [_as is_]

- [x] **Citing LiT** tab: _For the list of authors on the second line, please add Henrik_:
Martin Dusinberre, Helena Jask

[2020-06-01 23:35] martindusinberre commented on #117
- [ ] Is there anything that can be done about the line break that appears both before and after the monospace font (`page.json`) in the "Tutorial" game?

[2020-06-01 23:45] martindusinberre opened #122 "After live launch: importer fix"
To be discussed after 2 June, with the idea that game creators could push content to the test environment without being reliant on manual imports.

[2020-06-02 10:06] lfeine opened #123 "Descriptive text of Supervise group game"
There should be a small description of what to do with the code displayed after creating a new class. It's currently not clear that it's an URL.

[2020-06-02 12:37] interrogator commented on #117
Regarding the timer using the exited time, it is non-trivial, at least for me to implement, because it is pretty hard to know when the player closes tab with the game in it. I believe this should become an issue for next cycle.

[2020-06-02 12:53] #117 closed

[2020-06-02 13:11] #123 closed

[2020-06-02 13:26] interrogator commented on #121
All done

[2020-06-02 13:26] #121 closed

[2020-06-02 13:27] interrogator commented on #93
No issues for a while. Closing.

[2020-06-02 13:27] #93 closed

[2020-06-02 13:28] martindusinberre commented on #117
good, thanks for explaining about the exited time issue. That's all fine.

[2020-06-02 13:29] martindusinberre commented on #121
thank you!

[2020-06-03 11:46] #103 closed

[2020-06-03 11:47] #104 closed

[2020-06-03 11:53] martindusinberre opened #124 "First minor updates to live system"
I've divided these issues into "fixes" and "improvements". Fixes are **high priority**:

**Fixes**
- [ ] A bug has emerged since deployment (it did not appear before 2 June), namely: in the downloadable PDF of the Notebook, images are no longer being displayed, neither under the correct Notebook entry nor in the Appendix at the end. This is true of all the games (except the Trailer "Defining Work"

[2020-06-03 12:02] martindusinberre commented on #106
@interrogator Note that the Documentation links aren't active any more.

[2020-06-03 12:03] #110 closed

[2020-06-03 12:11] martindusinberre opened #125 "Your Games page (student view)"
If, as a class student, you receive a link to play Plantation Lives, then when you click on that link and log in to LiT, ideally you should not see the same "Your Games" page as a "normal" player.
In this class-student case, the "Supervise group game" button should be invisible; and there should be a banner at the top of the page saying:
"You are playing as part of XX class [_the same name as the

[2020-06-05 18:57] martindusinberre commented on #120
Setting aside these other transition issues for a moment: the original bug, which appears with a combination of "visited"/"notVisited" criteria in `pageTransition.json` files *and* the timer/autoTransitionOnTimerExpiration being "true" in `page.json` files is still there (on the test system, not on the live system).
Whereas previously (as described above) two buttonTexts appeared where they should

[2020-06-06 06:21] Helena-LiT commented on #120
I don't have the same problem with the timer in the trailer. I have tested this page in firefox and edge browsers and I always get the correct 5min displayed. Maybe it's a browser problem (chrome?) or the problem is already solved.

[2020-06-06 06:52] Helena-LiT commented on #120
I think all of the above was already solved.

[2020-06-06 07:45] Helena-LiT opened #126 "Timer supersedes on other timer on different page"
Some elements of this issue have been described in #116 and #120 but because this problem exists independently of other problems with page transitions and page criteria I will describe it in a separate issue here:

Problem: One timer on one page can supersed on another timer on another page.

For example when you have a timer of 30sec on page A and another timer of 30sec on the next page B (like i

[2020-06-08 17:26] martindusinberre commented on #120
OK, many thanks for pointing this out: has just worked for me fine in Firefox, too. What I experienced may be connected to #126 (I was testing many games consecutively) so for the time being, I'll close this assuming that this particular issue (combination of criteria + timer) is fixed.

[2020-06-08 17:26] #120 closed

[2020-06-08 17:32] martindusinberre commented on #124
@interrogator  concerning the Notebook bug: here's an example from the test environment, played early on 3 June (ie a couple of hours before we went live), in which the Notebook displays both the images at the right Notebook entries and also in the Appendix at the end. This is the correct version.
[Martin Dusinberre-8.pdf](https://github.com/uzh/marugoto/files/4747552/Martin.Dusinberre-8.pdf)

[2020-06-08 17:34] martindusinberre commented on #124
And here's the **incorrect** version, from the live system on 5 June, playing more or less the same game combination. Here you can see the PDF simply has the image captions but not the images themselves--neither on the correct page of the Notebook, nor in the Appendix.
[Martin  Dustinberry (2).pdf](https://github.com/uzh/marugoto/files/4747561/Martin.Dustinberry.2.pdf)

[2020-06-08 17:43] martindusinberre commented on #126
@Helena-LiT  Many thanks for spotting this and opening an issue. This may explain some of the occasionally odd timer experiences I have, which I have never been able to reproduce.

[2020-06-08 18:31] interrogator commented on #124
My guess is that the images are not found since the resources path moved (now every game has own resources dir). My guess is that this part of the code was not updated to reflect that change. Will look into it.

[2020-06-09 09:31] interrogator commented on #126
@Helena-LiT many thanks for describing this one! Note that a fix will not be available in the current release, and there is no planned/funded future development cycle, so it is best to just use workarounds for this where possible.

[2020-06-11 16:08] martindusinberre commented on #124
Many thanks for doing all this, @interrogator

[2020-06-11 16:08] #124 closed